[data-shape='cube'] {
  $size: $cube-w;
  .shape {
    width: $size;
    height: $size;
  }

  .face {
    width: $size;
    height: $size;
  }

  .x1 {
    transform: rotateY(0deg) translateZ($size/2);
  }
  .x2 {
    transform: rotateY(180deg) translateZ($size/2);
  }
  .y1 {
    transform: rotateY(90deg) translateZ($size/2);
  }
  .y2 {
    transform: rotateY(-90deg) translateZ($size/2);
  }
  .z1 {
    transform: rotateX(90deg) translateZ($size/2);
  }
  .z2 {
    transform: rotateX(-90deg) translateZ($size/2);
  }
}


[data-shape='cuboid'] {
  $width: $cuboid-w;
  $height: $cuboid-h;
  $depth: $cuboid-d;

  .shape {
    width: $width;
    height: $height;
  }

  .axis-x {
    width: $width;
    height: $height;
  }
  .axis-y {
    width: $depth;
    height: $height;
  }
  .axis-z {
    width: $width;
    height: $depth;
  }

  .x1 {
    transform: rotateY(0deg) translateZ($depth/2);
  }
  .x2 {
    transform: rotateY(180deg) translateZ($depth/2);
  }
  .y1 {
    transform: rotateY(90deg) translateZ($width - $depth/2);
  }
  .y2 {
    transform: rotateY(-90deg) translateZ($depth/2);
  }
  .z1 {
    transform: rotateX(90deg) translateZ($depth/2);
  }
  .z2 {
    transform: rotateX(-90deg) translateZ($height - $depth/2);
  }
}
