[data-shape='pyramid'] {
  $size: $pyramid-size;

  .shape {
    width: $size;
    height: $size;
  }

  .face {
    width: $size;
    height: $size;
  }

  .wall {
    border: 0;
    background: none;

    &::before {
      left: 40px;
      bottom: 15px;
    }

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: $size/2 solid transparent;
      border-right: $size/2 solid transparent;
      border-bottom: $size solid;
    }
  }

  .x1 {
    transform: rotateX(30deg) translateZ(57px);
    &::after {
      border-bottom-color: $color-pink;
    }
  }
  .x2 {
    transform: rotateX(-30deg) rotateY(180deg) translateZ(57px);
    &::after {
      border-bottom-color: $color-pink-light;
    }
  }
  .y1 {
    transform: rotateZ(-30deg) rotateY(90deg) translateZ(57px);
    &::after {
      border-bottom-color: $color-yellow;
    }
  }
  .y2 {
    transform: rotateZ(30deg) rotateY(-90deg) translateZ(57px);
    &::after {
      border-bottom-color: $color-yellow-light;
    }
  }
  .z2 {
    transform: rotateX(-90deg) translateZ(57px);
  }
}


[data-shape='cylinder'] {
  $width: $cuboid-w;
  $height: $cuboid-h;
  $depth: $cuboid-d;

  .wall {
    border: 0;
    width: 13px;
    height: $height;

    @for $i from 1 through 36 {

      &:nth-of-type(#{$i}) {
        $deg: $i * 10;
        transform: rotateY(#{$deg}deg) translateZ(75px);
      }

    }
  }

  .circle {
    width: 150px;
    height: 150px;
  }

  .top {
    transform: rotateX(90deg) translateX(-68px) translateZ($depth/2);
  }
  .bottom {
    transform: rotateX(-90deg) translateX(-68px) translateZ($height - $depth/2);
  }
}
