.scenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.scene {
  perspective: 600px;
  margin: 20px;
}

.shapes {
  display: flex;
  flex-wrap: wrap;
}

.shape {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.face {
  position: absolute;
  border: 2px solid #000;

  &::before {
    position: absolute;
    content: attr(data-index);
    font-size: 30px;
    display: block;
    padding: 10px 20px;
  }
}

.has-circle .circle::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  border-radius: 50%;
  border: 1px solid $color-black;
}

.has-cross .cross {
  &::before,
  &::after {
    content: '';
    display: block;
    background: $color-black;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &::before {
    width: 1px;
  }
  &::after {
    height: 1px;
  }
}

.x1 {
  background: $color-pink;
}
.x2 {
  background: $color-pink-light;
}
.y1 {
  background: $color-yellow;
}
.y2 {
  background: $color-yellow-light;
}
.z1 {
  background: $color-cyan;
}
.z2 {
  background: $color-cyan-light;
}
