html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*
DF2935
FDCA40
E6E8E6
*/
select {
  padding: 5px;
}
a {
  color: #3772FF;
}
a:hover {
  text-decoration: none;
}
label {
  cursor: pointer;
  display: inline-block;
}
button {
  cursor: pointer;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.list {
  margin-left: 5em;
}
.list li {
  list-style: decimal;

}

.search {
  position: relative;
}

.search .user-input {
  border-radius: 30px;
  display: inline-block;
  width: 340px;
  padding: 10px 10px 10px 35px;
}
.search .material-icons {
  position: absolute;
  left: 10px;
  top: 10px;
}
.filter-bar li {
  display: inline-block;
}
.filter-bar label {
  padding: 5px;
}
.main-nav {
  background: #E6E8E6;
  padding: 10px;
}
.main-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.main-nav a {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #ccc;
}
.main-nav a:hover {
  text-decoration: underline;
  border-color: #000;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.group {
/*  background: rgba(255, 255, 255, .9);
  padding: 5px 5px 4px;
  border-radius: 20px;*/
  margin: 5px 2px;
}
/*.group.all a {
  border-radius: 50px;
}
.group li:first-child a {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.group li:last-child a {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}*/
.group a {
  color: #000;
  display: inline-block;
  padding: 5px 5px 4px;
  background: #ffffdd;
}
.main-nav .sub-nav {
  display: none;
}

.main-nav img {
  width: 30px;
  cursor: pointer;
}

.sub-nav {
  position: absolute;
  margin-top: 20px;
  right: 0;
  width: 11em;
}
.main-nav .is-active .sub-nav {
  display: block;
}

.is-active a {
  background: #DF2935;
}

.sub-nav li,
.sub-nav ul {
  display: block;
}
.sub-nav label {
  padding: 1px 3px;
}
.sub-nav .action {
  text-align: center;
  margin-bottom: 5px;
}
.app-content {

  display: flex;
}
.main-content {
  padding: 10px;
  margin-right: 11em;
  width: 100%;
}
.filter {
  width: 120px;
}

.name {
  font-size: 80%;
}

.variant {
  font-size: 60%;
}

.price {
  font-size: 60%;
}

[data-price='-1'] {
  color: transparent;
}

.price img {
  width: 12px;
  display: inline-block;
  margin-right: 3px;
  margin-top: -2px;
  vertical-align: middle;
}
[data-price='-1'] img {
  display: none;
}

[data-display='grid'] {
  display: flex;
  flex-wrap: wrap;
}

.variants {
  display: flex;
  justify-content: center;
}
.item-image {
  width: 50px;
  max-width: 128px;
}
.item-variant,
.item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  position: relativfffedae;
}
.item-variant {
  margin: 1px;
  padding: 2px;
  background: #fff;
}

[data-category='Miscellaneous'],
[data-category='Wall-mounted'],
[data-category='Wallpaper'],
[data-category='Floors'],
[data-category='Rugs'],
[data-category='Fencing'],
[data-category='Photos'],
[data-category='Posters'],
[data-category='Tools'],
[data-category='Tops'],
[data-category='Bottoms'],
[data-category='Dress-Up'],
[data-category='Headwear'],
[data-category='Accessories'],
[data-category='Socks'],
[data-category='Shoes'],
[data-category='Bags'],
[data-category='Umbrellas'],
[data-category='Clothing-Other'],
[data-category='Music'],
[data-category='Fossils'],
[data-category='Other'],
[data-category='Art'],
[data-category='Housewares']
{
  /*display: none;*/
}
.item {
  border: 3px solid #ccc;
  /*background: #fffeda;*/
}

