html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.8rem;
  font-family: Helvetica, Arial, Sans-Serif;
}

label {
  cursor: pointer;
}

img {
  width: 100%;
}

a:hover {
  text-decoration: none;
}

.app {
  margin: auto;
}

.logo {
}

.settings-toggle {
  position: relative;
  background: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.game-window {
/*  border: 1px solid #aaa;
  border-top: 0;*/
  position: relative;
  cursor: pointer;
}
.characters {
  position: relative;
  text-align: center;
}

.characters img {
  max-width: 500px;
}

.background-image {
  position: absolute;
}

.option-window {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.options {
  display: inline-block;
  /*width: 60%;*/
  min-width: 300px;
  background: #ccc;
  padding: 15px;
  text-align: left;
}

.options li {
  margin: 10px;
}

.option:hover {
  background: #000;
  color: #fff;
}

.option {
  background: #fff;
  display: block;
  padding: 10px;
}

.text-window {
  background: #fff;
  border: 2px solid #333;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 150px;
}

.text {
  padding: 20px;
}

.name {
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  display: inline-block;
  font-size: 1.6rem;
  padding: 3px 10px;
}

.actions {
  text-align: right;
  padding: 10px;
}

[data-is-disabled='true'] {
  display: none;
}

.app-header {
  background: #262626;
  color: #fff;
}

.app-header a {
  color: #fff;
}


.app-footer {
  text-align: center;
  position: relative;
}

.wrapper {
  max-width: 1600px;
  margin: auto;
  padding: 0 10px;
}

.app-nav {
  position: absolute;
  top: 0;
  right: 0;
}
.app-nav li {
  display: inline-block;
  margin: 10px;
}

.app-nav a {
  color: #fff;
}
