.icon,
.category {
  display: inline-block;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

[data-obtained='Nook-Shopping-Promotion'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/nook-promotion.png);
}
[data-obtained='Nook-Shopping-Seasonal'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/nook-seasonal.png);
}
[data-obtained='Crafting'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/recipe.png);
}
[data-obtained='Nooks-Cranny'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/rct.png);
}
[data-obtained='C.J.'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/cj.png);
}
[data-obtained='Flick'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/flick.png);
}
[data-obtained='Birthday'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/birthday.png);
}
[data-obtained='Starting-items'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/starting-item.png);
}
[data-obtained='Nook-Miles-Redemption'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/nook-miles.png);
}
[data-obtained='Pavé'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/pck.png);
}
[data-obtained='Luna'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/luna.png);
}
[data-obtained='Gulliver'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/gulliver.png);
}
[data-obtained='Gullivarrr'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/gullivarrr.png);
}
[data-obtained='Jingle'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/jingle.png);
}
[data-obtained='Cyrus'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/alwCropped.png);
}
[data-obtained='Nintendo'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/nintendo.png);
}
[data-obtained='NookLink'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/nooklink.png);
}
[data-obtained='HHA'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/hha.png);
}
[data-obtained='Zipper'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/zipper.png);
}
[data-obtained='Franklin'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/franklin.png);
}
[data-obtained='Dodo-Airlines'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/dal.png);
}
[data-obtained='Mom'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/mother.png);
}
[data-obtained='Nook-Shopping-Daily-Selection'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/daily-selection.png);
}
[data-obtained='Rover'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/rover.png);
}
[data-obtained='Blathers'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/blathers.png);
}
[data-obtained='All-villagers'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/villager.png);
}
[data-obtained='Jack'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/jack.png);
}
[data-obtained='Saharah'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/cmlCropped.png);
}
[data-obtained='High-Friendship'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/high-friendship.png);
}
[data-obtained='Check-Toy-Day-stockings-the-day-after-Toy-Day'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Nook-Shopping-Posters'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/poster.png);
}
[data-obtained='Redds-Raffle'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Isabelle'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/isabelle.png);
}
[data-obtained='May-Day-Tour'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Able-Sisters'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/mable.png);
}
[data-obtained='Recycle-box'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Label'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/label.png);
}
[data-obtained='Pascal'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Tom-Nook'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Kicks'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/kicks.png);
}
[data-obtained='K.K.-concert'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/kk.png);
}
[data-obtained='Assessing-fossils'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/fossil.png);
}
[data-obtained='Hardwood-Tree'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/tree.png);
}
[data-obtained='Planting-an-apple'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/apple.png);
}
[data-obtained='Wishing-on-shooting-stars'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/star.png);
}
[data-obtained='Chopping-a-bamboo-tree'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Dig-Spot'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Planting-a-bamboo-shoot'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Glowing-dig-spot'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Shaking-a-hardwood-or-cedar-tree'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/cedar-tree.png);
}
[data-obtained='Picking-flowers'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/flower.png);
}
[data-obtained='Breeding'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/breeding.png);
}
[data-obtained='Catching-with-a-net'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Cedar-Tree'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/cedar-tree.png);
}
[data-obtained='Digging-up-a-fully-grown-bush'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Leif'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Fishing'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Planting-a-cedar-sapling'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Planting-a-cherry'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Hitting-a-rock'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='On-ground'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Coconut-Tree'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Planting-a-coconut'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Dive-spot'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Clam-dig-spot'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Beach'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Nook-Shopping'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Delivering-item-for-a-villager'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Wrapping-a-present'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Picking-pumpkins'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Chopping-a-tree'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Planting-a-sapling'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Reese'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Snowboy'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='5-star-town-status'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Burying-bells-in-a-glowing-spot'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Planting-an-orange'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Seed-bag'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Planting-a-peach'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Planting-a-pear'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Mail'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Digging-up-a-pumpkin-plant'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Egg-balloon'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Expired-turnips'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Daisy-Mae'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/daisymae.png);
}
[data-obtained='Use-a-fountain-firework'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Dont-return-lost-item'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-obtained='Jolly-Redds-Treasure-Trawler'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/redd.png);
}


[data-category='Housewares'] .category {
  background-image: url(../img/categories/housewares.png);
}
[data-category='Miscellaneous'] .category {
  background-image: url(../img/categories/miscellaneous.png);
}
[data-category='Wall-mounted'] .category {
  background-image: url(../img/categories/wall-mounted.png);
}
[data-category='Wallpaper'] .category {
  background-image: url(../img/categories/wallpaper.png);
}
[data-category='Floors'] .category {
  background-image: url(../img/categories/floors.png);
}
[data-category='Rugs'] .category {
  background-image: url(../img/categories/rugs.png);
}
[data-category='Fencing'] .category {
  background-image: url(../img/categories/fencing.png);
}
[data-category='Photos'] .category {
  background-image: url(../img/categories/photos.png);
}
[data-category='Posters'] .category {
  background-image: url(../img/categories/posters.png);
}
[data-category='Tools'] .category {
  background-image: url(../img/categories/tools.png);
}
[data-category='Tops'] .category {
  background-image: url(../img/categories/tops.png);
}
[data-category='Bottoms'] .category {
  background-image: url(../img/categories/bottoms.png);
}
[data-category='Dress-Up'] .category {
  background-image: url(../img/categories/dresses.png);
}
[data-category='Headwear'] .category {
  background-image: url(../img/categories/headwear.png);
}
[data-category='Accessories'] .category {
  background-image: url(../img/categories/accessories.png);
}
[data-category='Socks'] .category {
  background-image: url(../img/categories/socks.png);
}
[data-category='Shoes'] .category {
  background-image: url(../img/categories/shoes.png);
}
[data-category='Bags'] .category {
  background-image: url(../img/categories/bags.png);
}
[data-category='Umbrellas'] .category {
  background-image: url(../img/categories/umbrellas.png);
}
[data-category='Clothing-Other'] .category {
  background-image: url(../img/categories/clothing-other.png);
}
[data-category='Music'] .category {
  background-image: url(../img/categories/music.png);
}
[data-category='Fossils'] .category {
  background-image: url(../img/categories/fossils.png);
}
[data-category='Other'] .category {
  background-image: url(../img/categories/others.png);
}
[data-category='Art'] .category {
  background-image: url(../img/categories/art.png);
}
