.icon,
.category {
  display: inline-block;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  background-size: 20px;
}

[data-source='Nook-Shopping-Promotion'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/nook-promotion.png);
}
[data-source='Nook-Shopping-Seasonal'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/nook-seasonal.png);
}
[data-source='Crafting'] .icon {
  background-image: url(../img/1.10.0/MenuIcon/DIYRecipeFtrCropped.png);
}
[data-source='Nooks-Cranny'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/rct.png);
}
[data-source='C.J.'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/cj.png);
}
[data-source='Flick'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/flick.png);
}
[data-source='Birthday'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/birthday.png);
}
[data-source='Starting-items'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/starting-item.png);
}
[data-source='Nook-Miles-Redemption'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/nook-miles.png);
}
[data-source='Pavé'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/pck.png);
}
[data-source='Luna'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/luna.png);
}
[data-source='Gulliver'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/gulliver.png);
}
[data-source='Gullivarrr'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/gullivarrr.png);
}
[data-source='Jingle'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/jingle.png);
}
[data-source='Cyrus'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/alwCropped.png);
}
[data-source='Nintendo'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/nintendo.png);
}
[data-source='NookLink'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/nooklink.png);
}
[data-source='HHA'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/hha.png);
}
[data-source='Zipper'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/zipper.png);
}
[data-source='Franklin'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/franklin.png);
}
[data-source='Dodo-Airlines'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/dal.png);
}
[data-source='Mom'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/mother.png);
}
[data-source='Nook-Shopping-Daily-Selection'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/daily-selection.png);
}
[data-source='Rover'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/rover.png);
}
[data-source='Blathers'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/blathers.png);
}
[data-source='All-villagers'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/villager.png);
}
[data-source='Jack'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/jack.png);
}
[data-source='Saharah'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/cmlCropped.png);
}
[data-source='High-Friendship'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/high-friendship.png);
}
[data-source='Check-Toy-Day-stockings-the-day-after-Toy-Day'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Nook-Shopping-Posters'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/poster.png);
}
[data-source='Redds-Raffle'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Isabelle'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/isabelle.png);
}
[data-source='May-Day-Tour'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Able-Sisters'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/mable.png);
}
[data-source='Recycle-box'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Label'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/label.png);
}
[data-source='Pascal'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Tom-Nook'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Kicks'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/kicks.png);
}
[data-source='K.K.-concert'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/kk.png);
}
[data-source='Assessing-fossils'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/fossil.png);
}
[data-source='Hardwood-Tree'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/tree.png);
}
[data-source='Planting-an-apple'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/apple.png);
}
[data-source='Wishing-on-shooting-stars'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/star.png);
}
[data-source='Chopping-a-bamboo-tree'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Dig-Spot'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Planting-a-bamboo-shoot'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Glowing-dig-spot'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Shaking-a-hardwood-or-cedar-tree'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/cedar-tree.png);
}
[data-source='Picking-flowers'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/flower.png);
}
[data-source='Breeding'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/breeding.png);
}
[data-source='Catching-with-a-net'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Cedar-Tree'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/cedar-tree.png);
}
[data-source='Digging-up-a-fully-grown-bush'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Leif'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Fishing'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Planting-a-cedar-sapling'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Planting-a-cherry'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Hitting-a-rock'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='On-ground'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Coconut-Tree'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Planting-a-coconut'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Dive-spot'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Clam-dig-spot'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Beach'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Nook-Shopping'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Delivering-item-for-a-villager'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Wrapping-a-present'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Picking-pumpkins'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Chopping-a-tree'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Planting-a-sapling'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Reese'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Snowboy'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='5-star-town-status'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Burying-bells-in-a-glowing-spot'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Planting-an-orange'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Seed-bag'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Planting-a-peach'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Planting-a-pear'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Mail'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Digging-up-a-pumpkin-plant'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Egg-balloon'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Expired-turnips'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Daisy-Mae'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/daisymae.png);
}
[data-source='Use-a-fountain-firework'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Dont-return-lost-item'] .icon {
  // background-image: url(../img/1.10.0/NpcIcon/xxxxxx.png);
}
[data-source='Jolly-Redds-Treasure-Trawler'] .icon {
  background-image: url(../img/1.10.0/NpcIcon/redd.png);
}


[data-category='housewares'] .category {
  background-image: url(../img/categories/housewares.png);
}
[data-category='miscellaneous'] .category {
  background-image: url(../img/categories/miscellaneous.png);
}
[data-category='Wall-mounted'] .category {
  background-image: url(../img/categories/wall-mounted.png);
}
[data-category='Wallpaper'] .category {
  background-image: url(../img/categories/wallpaper.png);
}
[data-category='Floors'] .category {
  background-image: url(../img/categories/floors.png);
}
[data-category='Rugs'] .category {
  background-image: url(../img/categories/rugs.png);
}
[data-category='Fencing'] .category {
  background-image: url(../img/categories/fencing.png);
}
[data-category='Photos'] .category {
  background-image: url(../img/categories/photos.png);
}
[data-category='Posters'] .category {
  background-image: url(../img/categories/posters.png);
}
[data-category='Tools'] .category {
  background-image: url(../img/categories/tools.png);
}
[data-category='Tops'] .category {
  background-image: url(../img/categories/tops.png);
}
[data-category='Bottoms'] .category {
  background-image: url(../img/categories/bottoms.png);
}
[data-category='Dress-Up'] .category {
  background-image: url(../img/categories/dresses.png);
}
[data-category='Headwear'] .category {
  background-image: url(../img/categories/headwear.png);
}
[data-category='Accessories'] .category {
  background-image: url(../img/categories/accessories.png);
}
[data-category='Socks'] .category {
  background-image: url(../img/categories/socks.png);
}
[data-category='Shoes'] .category {
  background-image: url(../img/categories/shoes.png);
}
[data-category='Bags'] .category {
  background-image: url(../img/categories/bags.png);
}
[data-category='Umbrellas'] .category {
  background-image: url(../img/categories/umbrellas.png);
}
[data-category='Clothing-Other'] .category {
  background-image: url(../img/categories/clothing-other.png);
}
[data-category='Music'] .category {
  background-image: url(../img/categories/music.png);
}
[data-category='Fossils'] .category {
  background-image: url(../img/categories/fossils.png);
}
[data-category='Other'] .category {
  background-image: url(../img/categories/others.png);
}
[data-category='Art'] .category {
  background-image: url(../img/categories/art.png);
}
