.icons .source,
.icons .category {
  display: inline-block;
  background-repeat: no-repeat;
  width: 15px;
  height: 20px;
  background-size: 20px;
  background-position: -3px 0;
}
.icons .source {
  width: 30px;
  background-position: 0 0;
}

[data-source='ShoppingPromotion'] + .item .source {
  background-image: url(../img/icons/nook-promotion.png);
}
[data-source='ShoppingSeasonal'] + .item .source {
  background-image: url(../img/icons/nook-seasonal.png);
  background-size: 19px;
}
[data-source='Crafting'] + .item .source {
  background-image: url(../img/1.10.0/MenuIcon/DIYRecipeFtrCropped.png);
  background-size: 18px;
  background-position: 0 1px;
}
[data-source='Starting items'] + .item .source,
[data-source='Cranny'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/rctCropped.png);
  background-size: 18px;
  background-position: 0 1px;
}
[data-source='CJ'] + .item .source {
  background-image: url(../img/icons/cj.png);
  background-position: -1px 0;
}
[data-source='Flick'] + .item .source {
  background-image: url(../img/icons/flick.png);
  background-position: -1px -1px;
}
[data-source='Birthday'] + .item .source {
  background-image: url(../img/1.10.0/FtrIcon/FtrBirthdayCake_Remake_0_0Cropped.png);
}

[data-source='Nook Miles Redemption'] + .item .source {
  background-image: url(../img/icons/nook-miles.png);
  background-size: 30px;
  background-position: -4px -5px;
}
[data-source='Pave'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/pckCropped.png);
  background-size: 16px;
}
[data-source='Luna'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/tapCropped.png);
}
[data-source='Gulliver'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/gulCropped.png);
  background-size: 25px;
}
[data-source='Gullivarrr'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/gulBCropped.png);
  background-size: 30px;
}
[data-source='Jingle'] + .item .source,
[data-source='Check Toy Day stockings the day after Toy Day'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/reiCropped.png);
  background-size: 25px;
  height: 21px;
}
[data-source='Cyrus'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/alwCropped.png);
  background-size: 17px;
}
[data-source='Nintendo'] + .item .source {
  background-image: url(../img/icons/nintendo.png);
}
[data-source='NookLink'] + .item .source {
  background-image: url(../img/icons/nooklink.png);
}
[data-source='HHA'] + .item .source {
  background-image: url(../img/1.10.0/FtrIcon/FtrTrophyHhaBronzeCropped.png);
  background-size: 16px;
}
[data-source='Zipper'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/pynCropped.png);
  background-size: 14px;
}
[data-source='Franklin'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/tukCropped.png);
  background-size: 13px;
}
[data-source='DAL'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/docCropped.png);
}
[data-source='Mom'] + .item .source {
  background-image: url(../img/1.10.0/ClosetIcon/TopsTexTopCoatLMother0Cropped.png);
}
[data-source='Photopia'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/spnCropped.png);
}
[data-source='Amiibo'] + .item .source {
  background-image: url(../img/icons/amiibo.png);
  background-position: 0 4px;
}
[data-source='Daily Selection'] + .item .source {
  background-image: url(../img/icons/daily-selection.png);
  background-size: 22px;
  background-position: -4px -1px;
}
[data-source='Rover'] + .item .source,
[data-source='May Day Tour'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/xctCropped.png);
  background-size: 16px;
}
[data-source='Blathers'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/owlCropped.png);
  background-size: 20px;
}
[data-source='High Friendship'] + .item .source,
[data-source='All villagers'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/bea13Cropped.png);
  background-position: 0 2px;
}
[data-source='Jack'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/pknCropped.png);
  background-position: 0 3px;
}
[data-source='Saharah'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/cmlCropped.png);
  background-position: 0 2px;
}
[data-source='Trawler'] + .item .source,
[data-source='Redd'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/foxCropped.png);
  background-size: 14px;
}
[data-source='Isabelle'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/szaCropped.png);
}
[data-source='Able Sisters'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/hghCropped.png);
}
[data-source='Recycle box'] + .item .source {
  background-image: url(../img/icons/bin.png);
  background-size: 16px;
  background-position: 0 3px;
}
[data-source='Label'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/hgcCropped.png);
}
[data-source='Pascal'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/seoCropped.png);
}
[data-source='Tom Nook'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/rcoCropped.png);
}
[data-source='Kicks'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/skkCropped.png);
  background-size: 23px;
  background-position: 0 3px;
}
[data-source='K.K. concert'] + .item .source {
  background-image: url(../img/1.10.0/NpcIcon/tkkACropped.png);
}

[data-category='housewares'] + .item .category {
  background-image: url(../img/categories/housewares.png);
}
[data-category='misc'] + .item .category {
  background-image: url(../img/categories/miscellaneous.png);
  background-size: 25px;
  background-position: -6px -3px;
}
[data-category='wallMounted'] + .item .category {
  background-image: url(../img/categories/wall-mounted.png);
  background-size: 22px;
}
[data-category='wallpaper'] + .item .category {
  background-image: url(../img/categories/wallpaper.png);
}
[data-category='floors'] + .item .category {
  background-image: url(../img/categories/floors.png);
  background-position: -2px -1px;
  background-size: 24px;
  width: 20px;
}
[data-category='rugs'] + .item .category {
  background-image: url(../img/categories/rugs.png);
}
[data-category='fencing'] + .item .category {
  background-image: url(../img/categories/fencing.png);
}
[data-category='photos'] + .item .category {
  background-image: url(../img/categories/photos.png);
}
[data-category='posters'] + .item .category {
  background-image: url(../img/categories/posters.png);
}
[data-category='tools'] + .item .category {
  background-image: url(../img/categories/tools.png);
  background-size: 25px;
  background-position: -5px -1px;
}
[data-category='tops'] + .item .category {
  background-image: url(../img/categories/tops.png);
}
[data-category='bottoms'] + .item .category {
  background-image: url(../img/categories/bottoms.png);
}
[data-category='dresses'] + .item .category {
  background-image: url(../img/categories/dresses.png);
}
[data-category='headwear'] + .item .category {
  background-image: url(../img/categories/headwear.png);
}
[data-category='accessories'] + .item .category {
  background-image: url(../img/categories/accessories.png);
}
[data-category='socks'] + .item .category {
  background-image: url(../img/categories/socks.png);
}
[data-category='shoes'] + .item .category {
  background-image: url(../img/categories/shoes.png);
}
[data-category='bags'] + .item .category {
  background-image: url(../img/categories/bags.png);
}
[data-category='umbrellas'] + .item .category {
  background-image: url(../img/categories/umbrellas.png);
}
[data-category='swimwear'] + .item .category {
  background-image: url(../img/categories/clothing-other.png);
}
[data-category='music'] + .item .category {
  background-image: url(../img/categories/music.png);
}
[data-category='fossils'] + .item .category {
  background-image: url(../img/categories/fossils.png);
}
[data-category='art'] + .item .category {
  background-image: url(../img/categories/art.png);
}
