
.name {
  font-size: 80%;
  text-transform: capitalize;
}

.price {
  font-size: 60%;
  img {
    width: 12px;
    display: inline-block;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
  }
}

[data-price='-1'] {
  color: transparent;
}

[data-price='-1'] img {
  display: none;
}

[data-view='grid'],
[data-view='group'] {
  display: flex;
  flex-wrap: wrap;

  .item {
    border: 1px solid $color-gray;
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

[data-view='list'] {
  .item {
    display: flex;
    border-bottom: 1px solid $color-gray;
  }
  .name {
    display: inline-block;
    min-width: 15em;
    text-align: left;
  }
  .info {
    text-align: left;
  }
}

[data-view='grid'] {
  .item {
    border: 0;
    padding: 0;
    margin: 0;
  }
  .item-header {
    display: none;
  }
  .item-variant {
    align-items: flex-end;
  }
  .variant {
    top: 0;
    &::before {
      content: attr(data-name);
    }
  }
  .brackets {
    &::before {
      content: '(';
    }
    &::after {
      content: ')';
    }
  }
}

.variants {
  display: flex;
  justify-content: center;
}
.item-variant {
  $size: 70px;
  $h: $size + 10;
  min-width: $size;
  min-height: $h;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  position: relative;
  border: 1px solid $color-gray;
  padding: 2px;
  margin: 1px;
  background: #fff;
  cursor: pointer;
}
.item {
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  text-align: center;
  position: relative;
  display: none;
  min-width: 200px;

  /*background: #fffeda;*/
  &-image {
    $size: 40px;
    max-width: $size;
    max-height: $size;
    margin-top: 20px;
  }
}
.variant {
  font-size: 60%;
  // position: absolute;
  // top: 5px;

  img {
    max-width: 80px;
  }
}

.group {
  margin: 5px 2px;
  a {
    color: #000;
    display: inline-block;
    padding: 5px 5px 4px;
    // background: #ffffdd;
  }
}

[data-category='everything'] .item,
[data-category='Housewares'] .item[data-category='Housewares'],
[data-category='Miscellaneous'] .item[data-category='Miscellaneous'],
[data-category='Wall-mounted'] .item[data-category='Wall-mounted'],
[data-category='Wallpaper'] .item[data-category='Wallpaper'],
[data-category='Floors'] .item[data-category='Floors'],
[data-category='Rugs'] .item[data-category='Rugs'],
[data-category='Fencing'] .item[data-category='Fencing'],
[data-category='Photos'] .item[data-category='Photos'],
[data-category='Posters'] .item[data-category='Posters'],
[data-category='Tools'] .item[data-category='Tools'],
[data-category='Tops'] .item[data-category='Tops'],
[data-category='Bottoms'] .item[data-category='Bottoms'],
[data-category='Dress-Up'] .item[data-category='Dress-Up'],
[data-category='Headwear'] .item[data-category='Headwear'],
[data-category='Accessories'] .item[data-category='Accessories'],
[data-category='Socks'] .item[data-category='Socks'],
[data-category='Shoes'] .item[data-category='Shoes'],
[data-category='Bags'] .item[data-category='Bags'],
[data-category='Umbrellas'] .item[data-category='Umbrellas'],
[data-category='Clothing-Other'] .item[data-category='Clothing-Other'],
[data-category='Music'] .item[data-category='Music'],
[data-category='Fossils'] .item[data-category='Fossils'],
[data-category='Other'] .item[data-category='Other'],
[data-category='Art'] .item[data-category='Art'] {
  display: block;
}

