.name {
  text-transform: capitalize;
}
.en,
.count,
.price {
  font-size: smaller;
}

.variations {
  // &::before {
  //   $size: 8px;

  //   content: '';
  //   display: inline-block;
  //   width: $size;
  //   height: $size;
  //   border-radius: 50%;
  //   background: #cc5649;
  //   margin-right: 3px;
  // }
}

.count {
  position: absolute;
  left: 5px;
  top: 3px;
}

.patterns {
  &::before {
    content: 'x ';
  }
}



.buy,
.sell {
  background-repeat: no-repeat;
  background-size: 13px;
  padding-left: 15px;
}
.buy {
  background-image: url(../img/1.10.0/MenuIcon/MoneyBag039Cropped.png);
}

.sell {
  background-image: url(../img/1.10.0/MenuIcon/CoinCropped.png);
  background-position-y: 3px;
}

[data-price='-1'] {
  color: transparent;

  img {
    display: none;
  }
}


[data-view='grid'],
[data-view='group'] {
  display: flex;
  flex-wrap: wrap;

  .item {
    border: 3px solid $color-gray;
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// [data-view='list'] {
//   .item {
//     display: flex;
//     border-bottom: 1px solid $color-gray;
//   }
//   .name {
//     display: inline-block;
//     min-width: 15em;
//     text-align: left;
//   }
//   .info {
//     text-align: left;
//   }
// }

// [data-view='grid'] {
//   .item {
//     border: 0;
//     padding: 0;
//     margin: 0;
//   }
//   .item-header {
//     display: none;
//   }
//   .item-variant {
//     align-items: flex-end;
//   }
//   .variant {
//     top: 0;
//     &::before {
//       content: attr(data-name);
//     }
//   }
//   .brackets {
//     &::before {
//       content: '(';
//     }
//     &::after {
//       content: ')';
//     }
//   }
// }

.variants {
  display: flex;
  justify-content: center;
  border-radius: 3px;
  flex-wrap: wrap;
}

.item-variant {
  $size: 70px;
  $h: $size + 10;
  min-width: $size;
  min-height: $h;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  position: relative;
  border: 1px solid $color-gray;
  padding: 2px;
  margin: 1px;
  background: #fff;
  cursor: pointer;
}
.item {
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  text-align: center;
  position: relative;
  min-width: 200px;
  display: none;
  background: #e0e0e0;

  &.is-selected {
    border-color: #000;
  }
}

.item-image {
  $size: 40px;
  max-width: $size;
  max-height: $size;
  margin-top: 20px;
}
.variant {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;

  &.is-selected {
    border-color: #000;
    background: #fff;
  }

  img {
    max-width: 100%;
  }
}


.group {
  margin: 5px 2px;
  a {
    color: #000;
    display: inline-block;
    padding: 5px 5px 4px;
    // background: #ffffdd;
  }
}

.map {
  // position: absolute;
  // top: 0;
  // right: 0;
}

// .item[data-source="C.J."] {
//   display: block;

// }


[data-everything='true'] .item,
[data-bags='true'] .item[data-category='bags'],
[data-swimwear='true'] .item[data-category='swimwear'],
[data-miscellaneous='true'] .item[data-category='misc'],
[data-housewares='true'] .item[data-category='housewares'],
[data-villagers='true'] .item[data-category='villagers'],
[data-materials='true'] .item[data-category='materials'],
[data-bottoms='true'] .item[data-category='bottoms'],
[data-tops='true'] .item[data-category='tops'],
[data-art='true'] .item[data-category='art'],
[data-recipes='true'] .item[data-category='recipes'],
[data-dresses='true'] .item[data-category='dresses'],
[data-umbrellas='true'] .item[data-category='umbrellas'],
[data-wall-mounted='true'] .item[data-category='wall-mounted'],
[data-fossils='true'] .item[data-category='fossils'],
[data-tools='true'] .item[data-category='tools'],
[data-headwear='true'] .item[data-category='headwear'],
[data-floors='true'] .item[data-category='floors'],
[data-photos='true'] .item[data-category='photos'],
[data-music='true'] .item[data-category='music'],
[data-events='true'] .item[data-category='events'],
[data-shoes='true'] .item[data-category='shoes'],
[data-rugs='true'] .item[data-category='rugs'],
[data-posters='true'] .item[data-category='posters'],
[data-accessories='true'] .item[data-category='accessories'],
[data-socks='true'] .item[data-category='socks'],
[data-wallpaper='true'] .item[data-category='wallpaper'],
[data-special='true'] .item[data-category='special'],
[data-fencing='true'] .item[data-category='fencing'] {
  display: block;
}

.item[data-buy='-1'] {
  background: #ded6bc;
}

.item[data-source='Crafting'] {
  background: #c8e6b7;
}

.item[data-source='Nook Miles'] {
  background: #caebf5;
}

// [data-id='4041'] {
//   .variant {

//   }
// }

[data-count='1'] .variants .name {
  display: none;
}
