.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background: #fff;
}

.nav {
  display: flex;
  font-size: smaller;

  a {
    text-decoration: none;
    display: inline-block;
  }
}

.main-nav {
  background: #eeca2e;
  padding: 10px 5px 5px;
  display: flex;

  img {
    width: 30px;
  }

  a {
    $size: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-cream;
    min-width: $size;
    min-height: $size;
    border-radius: 50%;
  }
}

.is-selected,
a:hover {
  .active-state,
  .menu-text {
    display: block;
  }
  .default-state {
    display: none;
  }
}

.active-state {
  display: none;
}

.menu-text {
  display: none;
  background: $color-orange;
  color: #fff;
  padding: 0 4px;
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  margin-top: -42px;
  pointer-events: none;
}

.source-nav {
  background: #9a8d7d;
  padding: 5px 5px 2px;

  img {
    max-height: 28px;
    vertical-align: top;
  }

  .menu-text {
    background: #71604b;
    margin-left: -5px;
    margin-top: -18px;
    margin-right: -100px;
    top: 0;
  }

  a {
    $size: 30px;
    min-width: $size;
    min-height: $size;
    margin: 0 1px;
    border-radius: 5px;
    background: rgba(225, 225, 225, .5);
    position: relative;
    text-align: center;
  }
}

// .options {
//   font-size: smaller;

//   img {
//     height: 20px;
//     vertical-align: middle;
//   }
// }

// .button-switch {
//   display: inline-block;
//   margin-right: 10px;
//   border-radius: 20px;
//   background: #ccc;
//   padding: 3px;
// }
// .view {
//   position: relative;

//   &::after {
//     // position: absolute;
//     content: '';
//     display: block;
//     height: 5px;
//     bottom: 0;
//     margin: auto;
//     left: 3px;
//     right: 3px;
//     border-radius: 10px;
//   }
//   &.is-active,
//   &:hover {
//     &::after {
//       background: $color-orange;
//     }
//   }
// }
