.horizontal-scroll {
  overflow-x: auto;
}
.nav {
  a {
    text-decoration: none;
    display: inline-block;
  }
}

.nav,
.menu-group {
  display: flex;
}

.main-nav {
  background: #eeca2e;
  // background: $color-cream;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  img {
    width: 30px;
  }

  .menu {
    $size: 60px;
    background: $color-cream;
    min-width: $size;
    min-height: $size;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -5px;

    a {
      padding: 3px;
    }
  }
}

// .sub-nav {
//   display: none;
//   position: absolute;
//   margin-top: 20px;
//   right: 0;
//   width: 11em;
//   li,
//   ul {
//     display: block;
//   }
//   label {
//     padding: 1px 3px;
//   }
//   .action {
//     text-align: center;
//     margin-bottom: 5px;
//   }
// }

.category-group {
  // border: 2px solid #b4ae99;
  // border-radius: 30px;
  // background: #f4f5dd;
}
.menu-group {
  // padding: 2px;
}
.active-state {
  display: none;
}

.is-active,
a:hover {
  .active-state,
  .menu-text {
    display: block;
  }
  .default-state {
    display: none;
  }
}

.menu-text {
  display: none;
  font-size: 60%;
  font-weight: 700;
  background: $color-orange;
  color: #fff;
  padding: 2px 4px 0;
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  margin-top: -15px;
}

[data-menu] {

}

.view {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    display: block;
    height: 5px;
    bottom: 0;
    margin: auto;
    left: 3px;
    right: 3px;
    border-radius: 10px;
  }
  &.is-active,
  &:hover {
    &::after {
      background: $color-orange;
    }
  }
}

.npc-nav {
  background: #9a8d7d;
  padding: 10px;

  a {
    padding: 0;
  }

  img {
    height: 40px;
  }

  .menu {
    margin: 0 2px;
    border-radius: 5px;
    background: rgba(225, 225, 225, .5);

    &:hover {
      background: rgba(225, 225, 225, 1);
    }
  }

  .menu-text {
    background: #71604b;
  }
}

.event-nav {
  font-size: 80%;

  a {
    margin: 0 3px;
  }
  time {
    display: block;

    &::before {
      content: '(';
    }
    &::after {
      content: ')';
    }
  }
}
// .nmt img {
//   height: 40px;
// }
// // .tom-nook img {
//   height: 33px;
// }
// .label img {
//   height: 38px;
// }
// .gullivarrr img {
//   height: 32px;
// }
// .cj img {
//   height: 40px;
// }
// .flick img {
//   height: 40px;
// }
