$opacity: 1;
$color-blue: #3772FF;
$color-cream: #f4f5dd;
$color-cream: #fcffba;
$color-gray: #888;
$color-orange: #f78b23;
$color-light-yellow: rgba(255, 255, 204, $opacity);
$color-light-pink: rgba(255, 204, 204, $opacity);
$color-light-blue: rgba(204, 229, 255, $opacity);
$color-light-green: rgba(204, 255, 204, $opacity);
$color-light-purple: rgba(255, 204, 229, $opacity);
