@charset 'UTF-8';
@import 'reset';
@import 'var';
@import 'item-list';
@import 'icons';
@import 'nav';
@import 'island-map';


html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
select {
  padding: 5px;
}
a {
  color: #3772FF;
  &:hover {
    text-decoration: none;
  }
}
label {
  cursor: pointer;
  display: inline-block;
}
button {
  cursor: pointer;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #fff;
}
.app-content {
  display: flex;
}
.main-content {
  padding: 5px;
  width: 100%;
}
