label {
  cursor: pointer;
  display: inline-block;
}

button,
.button {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 5px;
  outline: none;
  border: 1px solid $color-black;

  &:hover {
    background: #ccc;
  }
}

.fake-input {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid #777;
  position: relative;
}

.is-checked .fake-input::before {
  position: absolute;
  top: 1px;
  left: 1px;
  content: '';
  display: inline-block;
  background: #777;
  width: 10px;
  height: 10px;
  border-radius: 2px;
}
