body {
  font-family: Helvetica, sans-serif;
  max-width: 1200px;
  margin: auto; }

a:hover {
  text-decoration: none; }

.external-link {
  background: url(../../img/icons/external-link.svg) no-repeat top right;
  display: inline-block;
  padding-right: 28px; }
