body {
  font-family: Helvetica, sans-serif;
  max-width: 1200px;
  margin: auto; }

a:hover {
  text-decoration: none; }

.icon-link {
  background: center right no-repeat;
  background-size: 20px;
  display: inline-block;
  padding-right: 22px; }

.external-link {
  background-image: url(../../img/icons/external-link.svg); }

.pdf-link {
  background-image: url(../../img/icons/pdf.svg); }

.youtube-link {
  background-image: url(../../img/icons/youtube.svg); }
