/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span,
a, dl, dt, dd,
em, img,
small,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside,
figure, figcaption, footer, header,
nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: Helvetica, sans-serif; }

.logo {
  font-size: 1em;
  padding: 0;
  margin: 0; }

dt {
  font-weight: 700; }

a:hover {
  text-decoration: none; }

.last-update {
  font-size: smaller;
  position: absolute;
  right: 10px; }

.app-header {
  background: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .app-header a {
    color: #fff; }

.material-icons {
  vertical-align: middle; }

.main-nav {
  border-right: 1px solid #333;
  padding: 10px;
  min-width: 240px; }
  .main-nav ol,
  .main-nav ul {
    padding-left: 1em;
    margin: 0; }
  .main-nav li {
    padding: 0;
    margin: 0 0 1em; }

.page-title {
  margin-top: 0; }

.app-content {
  display: flex; }

.app-main {
  padding: 10px;
  position: relative; }

.simple-list {
  margin: 0 0 2em 1.5em;
  padding: 0; }
  .simple-list p {
    margin: 0; }
  .simple-list li {
    margin: .5em 0; }

.en {
  font-size: smaller;
  display: block; }
  .en::before {
    content: '('; }
  .en::after {
    content: ')'; }

.social-media {
  margin: 0;
  padding: 0;
  font-size: smaller; }
  .social-media li {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 1em; }

.heading {
  font-size: 1.2em; }
  .heading .en {
    font-weight: 400;
    font-size: .7em; }

.app-footer {
  font-size: smaller;
  padding: 10px;
  border-top: 1px solid #333; }
  .app-footer .material-icons {
    font-size: 1em; }

.app-aside {
  border-left: 1px solid #333;
  padding: 10px;
  width: 400px; }
  .app-aside .heading {
    margin: 0; }

.images {
  display: flex; }
  .images img {
    width: 50%; }

.edge {
  display: inline-block;
  height: 3px;
  min-width: 100px; }

[data-color='red'] {
  background: red; }

[data-color='blue'] {
  background: blue; }

[data-color='green'] {
  background: green; }

.text-red {
  color: red; }

.text-blue {
  color: blue; }

.text-green {
  color: green; }
