body {
  font-family: Helvetica, sans-serif;
  max-width: 1200px;
  margin: auto; }

a:hover {
  text-decoration: none; }

th,
td {
  border: 1px solid #ccc; }

tr:hover td {
  background: #add8e6; }
