body {
  font-family: Helvetica, sans-serif;
  max-width: 1200px;
  margin: auto; }

label,
input[type='radio'] {
  cursor: pointer; }

a:hover {
  text-decoration: none; }

.copyright {
  font-size: smaller; }

strong {
  font-size: larger; }

.last-update {
  text-align: right;
  margin-top: 10px;
  font-size: smaller; }

.back-to-home {
  position: fixed;
  bottom: 0;
  right: 10px; }

.text-red {
  color: red; }

.text-blue {
  color: blue; }

.text-green {
  color: green; }

.material-icons {
  vertical-align: middle;
  font-size: smaller; }

.edge {
  display: inline-block;
  height: 3px;
  min-width: 100px; }

[data-color='red'] {
  background: red; }

[data-color='blue'] {
  background: blue; }

[data-color='green'] {
  background: green; }

.images {
  display: flex; }
  .images img {
    width: 50%; }

/*
<span class="material-icons">settings</span>
<span class="material-icons">arrow_right</span>
<span class="material-icons">arrow_drop_down</span>
<span class="material-icons">picture_as_pdf</span>
<span class="material-icons">launch</span>
<span class="material-icons">smart_display</span>
*/
th,
td {
  border: 1px solid #ccc; }

tr:hover td {
  background: #add8e6; }
