/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span,
a, dl, dt, dd,
em, img,
small,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside,
figure, figcaption, footer, header,
nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: Helvetica, sans-serif; }

.logo {
  font-size: 1em;
  padding: 0;
  margin: 0; }

dt {
  font-weight: 700; }

a:hover {
  text-decoration: none; }

.last-update {
  font-size: smaller;
  position: absolute;
  right: 10px; }

label {
  cursor: pointer; }

button {
  cursor: pointer; }

.app-header {
  background: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .app-header a {
    color: #fff; }

.material-icons {
  vertical-align: middle; }

.main-nav {
  border-right: 1px solid #333;
  padding: 10px;
  min-width: 180px; }
  .main-nav ol,
  .main-nav ul {
    padding-left: 1em;
    margin: 0; }
  .main-nav li {
    padding: 0;
    margin: 0 0 1em; }
  .main-nav .heading {
    margin-top: 0; }

.page-title {
  margin-top: 0; }

.app-content {
  display: flex;
  justify-content: space-between; }

.app-main {
  padding: 10px;
  position: relative;
  width: 100%; }

.simple-list {
  margin: 0 0 2em 1.5em;
  padding: 0; }
  .simple-list p {
    margin: 0; }
  .simple-list li {
    margin: .5em 0; }

.en {
  font-size: smaller;
  display: block; }
  .en::before {
    content: '('; }
  .en::after {
    content: ')'; }

.social-media {
  margin: 0;
  padding: 0;
  font-size: smaller; }
  .social-media li {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 1em; }

.heading {
  font-size: 1.2em; }
  .heading .en {
    font-weight: 400;
    font-size: .7em; }

.app-footer {
  font-size: smaller;
  padding: 10px;
  border-top: 1px solid #333; }
  .app-footer .material-icons {
    font-size: 1em; }

.app-aside {
  position: -webkit-sticky;
  position: sticky;
  border-left: 1px solid #333;
  padding: 10px;
  min-width: 400px; }
  .app-aside .heading {
    margin: 0; }

.button {
  border: 1px solid #333;
  padding: 5px 10px;
  font-size: 1em;
  outline: none;
  background: #fff;
  border-radius: 3px; }
  .button:hover {
    background: #ccc; }

section {
  width: 50%; }

.scenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.scene {
  perspective: 600px;
  margin: 20px; }

.shapes {
  display: flex;
  flex-wrap: wrap; }

.shape {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s; }

.face {
  position: absolute;
  border: 2px solid #000; }
  .face::before {
    position: absolute;
    content: attr(data-index);
    font-size: 30px;
    display: block;
    padding: 10px 20px; }

.x1 {
  background: rgba(255, 113, 113, 0.7); }

.x2 {
  background: rgba(245, 192, 192, 0.7); }

.y1 {
  background: rgba(254, 168, 47, 0.7); }

.y2 {
  background: rgba(255, 194, 136, 0.7); }

.z1 {
  background: rgba(0, 173, 181, 0.7); }

.z2 {
  background: rgba(170, 216, 211, 0.7); }

.cube {
  width: 200px;
  height: 200px; }
  .cube .face {
    width: 200px;
    height: 200px; }
  .cube .x1 {
    transform: rotateY(0deg) translateZ(100px); }
  .cube .x2 {
    transform: rotateY(180deg) translateZ(100px); }
  .cube .y1 {
    transform: rotateY(90deg) translateZ(100px); }
  .cube .y2 {
    transform: rotateY(-90deg) translateZ(100px); }
  .cube .z1 {
    transform: rotateX(90deg) translateZ(100px); }
  .cube .z2 {
    transform: rotateX(-90deg) translateZ(100px); }

.cuboid {
  width: 200px;
  height: 260px; }
  .cuboid .axis-x {
    width: 200px;
    height: 260px; }
  .cuboid .axis-y {
    width: 110px;
    height: 260px; }
  .cuboid .axis-z {
    width: 200px;
    height: 110px; }
  .cuboid .x1 {
    transform: rotateY(0deg) translateZ(55px); }
  .cuboid .x2 {
    transform: rotateY(180deg) translateZ(55px); }
  .cuboid .y1 {
    transform: rotateY(90deg) translateZ(145px); }
  .cuboid .y2 {
    transform: rotateY(-90deg) translateZ(55px); }
  .cuboid .z1 {
    transform: rotateX(90deg) translateZ(55px); }
  .cuboid .z2 {
    transform: rotateX(-90deg) translateZ(205px); }

.pyramid {
  transform: translateX(-100px); }
  .pyramid .wall {
    transform-origin: 50% 0%;
    border-top: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid;
    background: transparent; }
    .pyramid .wall::before {
      bottom: -200px; }
    .pyramid .wall::after {
      content: '';
      position: absolute;
      width: 220px;
      height: 2px;
      background: #000;
      display: block;
      transform: rotateZ(60deg) translate3d(0, 20px, 0); }
  .pyramid .x1 {
    border-bottom-color: rgba(255, 113, 113, 0.7);
    transform: rotateX(-30deg); }
  .pyramid .x2 {
    border-bottom-color: rgba(245, 192, 192, 0.7);
    transform: rotateX(30deg); }
  .pyramid .y1 {
    border-bottom-color: rgba(254, 168, 47, 0.7);
    transform: rotate(-30deg) rotateY(90deg); }
  .pyramid .y2 {
    border-bottom-color: rgba(255, 194, 136, 0.7);
    transform: rotate(30deg) rotateY(90deg); }
  .pyramid .base {
    width: 200px;
    height: 200px;
    transform: rotateX(-90deg) translateZ(74px); }

.circle {
  border-radius: 50%; }

.user-input {
  padding: 5px;
  font-size: larger;
  vertical-align: middle; }
  .user-input[type='range'] {
    width: 200px; }
  .user-input[type='tel'] {
    width: 3em;
    text-align: center; }

.cube-image {
  width: 100px; }

label {
  display: inline-block;
  margin-right: 30px; }

.material-icons {
  vertical-align: middle; }

.slider-controlls .material-icons {
  font-size: 50px; }

.button-controlls table {
  margin: auto; }

.button-controlls td {
  text-align: center; }

.button-controlls button {
  width: 50px;
  height: 50px; }

.start-point,
.end-point {
  display: inline-block; }

.end-point {
  margin-left: 100px; }

.icon-top-left {
  transform: rotateZ(-45deg); }

.icon-top-right {
  transform: rotateZ(45deg); }

.icon-bottom-left {
  transform: rotateZ(-135deg); }

.icon-bottom-right {
  transform: rotateZ(135deg); }

fieldset .material-icons {
  font-size: 30px; }

.lines {
  position: relative;
  display: flex;
  margin: 20px -20px -1700px; }

.section-angles .scenes::before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1450px;
  height: 1px;
  margin: auto;
  content: '';
  display: block;
  background: #000; }

.line {
  width: 1px;
  height: 1700px;
  margin: auto;
  background: #000; }

[data-shape='cube'] .shape {
  width: 80px;
  height: 80px; }

[data-shape='cube'] .face {
  width: 80px;
  height: 80px; }

[data-shape='cube'] .x1 {
  transform: rotateY(0deg) translateZ(40px); }

[data-shape='cube'] .x2 {
  transform: rotateY(180deg) translateZ(40px); }

[data-shape='cube'] .y1 {
  transform: rotateY(90deg) translateZ(40px); }

[data-shape='cube'] .y2 {
  transform: rotateY(-90deg) translateZ(40px); }

[data-shape='cube'] .z1 {
  transform: rotateX(90deg) translateZ(40px); }

[data-shape='cube'] .z2 {
  transform: rotateX(-90deg) translateZ(40px); }

[data-shape='cuboid'] .shape {
  width: 80px;
  height: 110px; }

[data-shape='cuboid'] .axis-x {
  width: 80px;
  height: 110px; }

[data-shape='cuboid'] .axis-y {
  width: 70px;
  height: 110px; }

[data-shape='cuboid'] .axis-z {
  width: 80px;
  height: 70px; }

[data-shape='cuboid'] .x1 {
  transform: rotateY(0deg) translateZ(35px); }

[data-shape='cuboid'] .x2 {
  transform: rotateY(180deg) translateZ(35px); }

[data-shape='cuboid'] .y1 {
  transform: rotateY(90deg) translateZ(45px); }

[data-shape='cuboid'] .y2 {
  transform: rotateY(-90deg) translateZ(35px); }

[data-shape='cuboid'] .z1 {
  transform: rotateX(90deg) translateZ(35px); }

[data-shape='cuboid'] .z2 {
  transform: rotateX(-90deg) translateZ(75px); }

.section-angles {
  width: 100%; }
  .section-angles .face::before {
    font-size: 20px; }
  .section-angles .scene {
    margin: 40px; }
  .section-angles[data-shape='cube'] .scene {
    margin: 55px 40px; }
  .section-angles .scenes {
    flex-wrap: nowrap;
    position: relative; }

[data-axis='y'] .scenes:nth-of-type(1) .scene:nth-of-type(1) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='y'] .scenes:nth-of-type(1) .scene:nth-of-type(2) .shape {
  transform: rotateX(0deg) rotateY(22.5deg) rotateZ(0deg); }

[data-axis='y'] .scenes:nth-of-type(1) .scene:nth-of-type(3) .shape {
  transform: rotateX(0deg) rotateY(45deg) rotateZ(0deg); }

[data-axis='y'] .scenes:nth-of-type(1) .scene:nth-of-type(4) .shape {
  transform: rotateX(0deg) rotateY(67.5deg) rotateZ(0deg); }

[data-axis='y'] .scenes:nth-of-type(1) .scene:nth-of-type(5) .shape {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg); }

[data-axis='y'] .scenes:nth-of-type(1) .scene:nth-of-type(6) .shape {
  transform: rotateX(0deg) rotateY(112.5deg) rotateZ(0deg); }

[data-axis='y'] .scenes:nth-of-type(1) .scene:nth-of-type(7) .shape {
  transform: rotateX(0deg) rotateY(135deg) rotateZ(0deg); }

[data-axis='y'] .scenes:nth-of-type(1) .scene:nth-of-type(8) .shape {
  transform: rotateX(0deg) rotateY(157.5deg) rotateZ(0deg); }

[data-axis='y'] .scenes:nth-of-type(1) .scene:nth-of-type(9) .shape {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg); }

[data-axis='y'] .scenes:nth-of-type(2) .scene:nth-of-type(1) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(22.5deg); }

[data-axis='y'] .scenes:nth-of-type(2) .scene:nth-of-type(2) .shape {
  transform: rotateX(0deg) rotateY(22.5deg) rotateZ(22.5deg); }

[data-axis='y'] .scenes:nth-of-type(2) .scene:nth-of-type(3) .shape {
  transform: rotateX(0deg) rotateY(45deg) rotateZ(22.5deg); }

[data-axis='y'] .scenes:nth-of-type(2) .scene:nth-of-type(4) .shape {
  transform: rotateX(0deg) rotateY(67.5deg) rotateZ(22.5deg); }

[data-axis='y'] .scenes:nth-of-type(2) .scene:nth-of-type(5) .shape {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(22.5deg); }

[data-axis='y'] .scenes:nth-of-type(2) .scene:nth-of-type(6) .shape {
  transform: rotateX(0deg) rotateY(112.5deg) rotateZ(22.5deg); }

[data-axis='y'] .scenes:nth-of-type(2) .scene:nth-of-type(7) .shape {
  transform: rotateX(0deg) rotateY(135deg) rotateZ(22.5deg); }

[data-axis='y'] .scenes:nth-of-type(2) .scene:nth-of-type(8) .shape {
  transform: rotateX(0deg) rotateY(157.5deg) rotateZ(22.5deg); }

[data-axis='y'] .scenes:nth-of-type(2) .scene:nth-of-type(9) .shape {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(22.5deg); }

[data-axis='y'] .scenes:nth-of-type(3) .scene:nth-of-type(1) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(45deg); }

[data-axis='y'] .scenes:nth-of-type(3) .scene:nth-of-type(2) .shape {
  transform: rotateX(0deg) rotateY(22.5deg) rotateZ(45deg); }

[data-axis='y'] .scenes:nth-of-type(3) .scene:nth-of-type(3) .shape {
  transform: rotateX(0deg) rotateY(45deg) rotateZ(45deg); }

[data-axis='y'] .scenes:nth-of-type(3) .scene:nth-of-type(4) .shape {
  transform: rotateX(0deg) rotateY(67.5deg) rotateZ(45deg); }

[data-axis='y'] .scenes:nth-of-type(3) .scene:nth-of-type(5) .shape {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(45deg); }

[data-axis='y'] .scenes:nth-of-type(3) .scene:nth-of-type(6) .shape {
  transform: rotateX(0deg) rotateY(112.5deg) rotateZ(45deg); }

[data-axis='y'] .scenes:nth-of-type(3) .scene:nth-of-type(7) .shape {
  transform: rotateX(0deg) rotateY(135deg) rotateZ(45deg); }

[data-axis='y'] .scenes:nth-of-type(3) .scene:nth-of-type(8) .shape {
  transform: rotateX(0deg) rotateY(157.5deg) rotateZ(45deg); }

[data-axis='y'] .scenes:nth-of-type(3) .scene:nth-of-type(9) .shape {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(45deg); }

[data-axis='y'] .scenes:nth-of-type(4) .scene:nth-of-type(1) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(67.5deg); }

[data-axis='y'] .scenes:nth-of-type(4) .scene:nth-of-type(2) .shape {
  transform: rotateX(0deg) rotateY(22.5deg) rotateZ(67.5deg); }

[data-axis='y'] .scenes:nth-of-type(4) .scene:nth-of-type(3) .shape {
  transform: rotateX(0deg) rotateY(45deg) rotateZ(67.5deg); }

[data-axis='y'] .scenes:nth-of-type(4) .scene:nth-of-type(4) .shape {
  transform: rotateX(0deg) rotateY(67.5deg) rotateZ(67.5deg); }

[data-axis='y'] .scenes:nth-of-type(4) .scene:nth-of-type(5) .shape {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(67.5deg); }

[data-axis='y'] .scenes:nth-of-type(4) .scene:nth-of-type(6) .shape {
  transform: rotateX(0deg) rotateY(112.5deg) rotateZ(67.5deg); }

[data-axis='y'] .scenes:nth-of-type(4) .scene:nth-of-type(7) .shape {
  transform: rotateX(0deg) rotateY(135deg) rotateZ(67.5deg); }

[data-axis='y'] .scenes:nth-of-type(4) .scene:nth-of-type(8) .shape {
  transform: rotateX(0deg) rotateY(157.5deg) rotateZ(67.5deg); }

[data-axis='y'] .scenes:nth-of-type(4) .scene:nth-of-type(9) .shape {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(67.5deg); }

[data-axis='y'] .scenes:nth-of-type(5) .scene:nth-of-type(1) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg); }

[data-axis='y'] .scenes:nth-of-type(5) .scene:nth-of-type(2) .shape {
  transform: rotateX(0deg) rotateY(22.5deg) rotateZ(90deg); }

[data-axis='y'] .scenes:nth-of-type(5) .scene:nth-of-type(3) .shape {
  transform: rotateX(0deg) rotateY(45deg) rotateZ(90deg); }

[data-axis='y'] .scenes:nth-of-type(5) .scene:nth-of-type(4) .shape {
  transform: rotateX(0deg) rotateY(67.5deg) rotateZ(90deg); }

[data-axis='y'] .scenes:nth-of-type(5) .scene:nth-of-type(5) .shape {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(90deg); }

[data-axis='y'] .scenes:nth-of-type(5) .scene:nth-of-type(6) .shape {
  transform: rotateX(0deg) rotateY(112.5deg) rotateZ(90deg); }

[data-axis='y'] .scenes:nth-of-type(5) .scene:nth-of-type(7) .shape {
  transform: rotateX(0deg) rotateY(135deg) rotateZ(90deg); }

[data-axis='y'] .scenes:nth-of-type(5) .scene:nth-of-type(8) .shape {
  transform: rotateX(0deg) rotateY(157.5deg) rotateZ(90deg); }

[data-axis='y'] .scenes:nth-of-type(5) .scene:nth-of-type(9) .shape {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(90deg); }

[data-axis='y'] .scenes:nth-of-type(6) .scene:nth-of-type(1) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(112.5deg); }

[data-axis='y'] .scenes:nth-of-type(6) .scene:nth-of-type(2) .shape {
  transform: rotateX(0deg) rotateY(22.5deg) rotateZ(112.5deg); }

[data-axis='y'] .scenes:nth-of-type(6) .scene:nth-of-type(3) .shape {
  transform: rotateX(0deg) rotateY(45deg) rotateZ(112.5deg); }

[data-axis='y'] .scenes:nth-of-type(6) .scene:nth-of-type(4) .shape {
  transform: rotateX(0deg) rotateY(67.5deg) rotateZ(112.5deg); }

[data-axis='y'] .scenes:nth-of-type(6) .scene:nth-of-type(5) .shape {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(112.5deg); }

[data-axis='y'] .scenes:nth-of-type(6) .scene:nth-of-type(6) .shape {
  transform: rotateX(0deg) rotateY(112.5deg) rotateZ(112.5deg); }

[data-axis='y'] .scenes:nth-of-type(6) .scene:nth-of-type(7) .shape {
  transform: rotateX(0deg) rotateY(135deg) rotateZ(112.5deg); }

[data-axis='y'] .scenes:nth-of-type(6) .scene:nth-of-type(8) .shape {
  transform: rotateX(0deg) rotateY(157.5deg) rotateZ(112.5deg); }

[data-axis='y'] .scenes:nth-of-type(6) .scene:nth-of-type(9) .shape {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(112.5deg); }

[data-axis='y'] .scenes:nth-of-type(7) .scene:nth-of-type(1) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(135deg); }

[data-axis='y'] .scenes:nth-of-type(7) .scene:nth-of-type(2) .shape {
  transform: rotateX(0deg) rotateY(22.5deg) rotateZ(135deg); }

[data-axis='y'] .scenes:nth-of-type(7) .scene:nth-of-type(3) .shape {
  transform: rotateX(0deg) rotateY(45deg) rotateZ(135deg); }

[data-axis='y'] .scenes:nth-of-type(7) .scene:nth-of-type(4) .shape {
  transform: rotateX(0deg) rotateY(67.5deg) rotateZ(135deg); }

[data-axis='y'] .scenes:nth-of-type(7) .scene:nth-of-type(5) .shape {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(135deg); }

[data-axis='y'] .scenes:nth-of-type(7) .scene:nth-of-type(6) .shape {
  transform: rotateX(0deg) rotateY(112.5deg) rotateZ(135deg); }

[data-axis='y'] .scenes:nth-of-type(7) .scene:nth-of-type(7) .shape {
  transform: rotateX(0deg) rotateY(135deg) rotateZ(135deg); }

[data-axis='y'] .scenes:nth-of-type(7) .scene:nth-of-type(8) .shape {
  transform: rotateX(0deg) rotateY(157.5deg) rotateZ(135deg); }

[data-axis='y'] .scenes:nth-of-type(7) .scene:nth-of-type(9) .shape {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(135deg); }

[data-axis='y'] .scenes:nth-of-type(8) .scene:nth-of-type(1) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(157.5deg); }

[data-axis='y'] .scenes:nth-of-type(8) .scene:nth-of-type(2) .shape {
  transform: rotateX(0deg) rotateY(22.5deg) rotateZ(157.5deg); }

[data-axis='y'] .scenes:nth-of-type(8) .scene:nth-of-type(3) .shape {
  transform: rotateX(0deg) rotateY(45deg) rotateZ(157.5deg); }

[data-axis='y'] .scenes:nth-of-type(8) .scene:nth-of-type(4) .shape {
  transform: rotateX(0deg) rotateY(67.5deg) rotateZ(157.5deg); }

[data-axis='y'] .scenes:nth-of-type(8) .scene:nth-of-type(5) .shape {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(157.5deg); }

[data-axis='y'] .scenes:nth-of-type(8) .scene:nth-of-type(6) .shape {
  transform: rotateX(0deg) rotateY(112.5deg) rotateZ(157.5deg); }

[data-axis='y'] .scenes:nth-of-type(8) .scene:nth-of-type(7) .shape {
  transform: rotateX(0deg) rotateY(135deg) rotateZ(157.5deg); }

[data-axis='y'] .scenes:nth-of-type(8) .scene:nth-of-type(8) .shape {
  transform: rotateX(0deg) rotateY(157.5deg) rotateZ(157.5deg); }

[data-axis='y'] .scenes:nth-of-type(8) .scene:nth-of-type(9) .shape {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(157.5deg); }

[data-axis='y'] .scenes:nth-of-type(9) .scene:nth-of-type(1) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg); }

[data-axis='y'] .scenes:nth-of-type(9) .scene:nth-of-type(2) .shape {
  transform: rotateX(0deg) rotateY(22.5deg) rotateZ(180deg); }

[data-axis='y'] .scenes:nth-of-type(9) .scene:nth-of-type(3) .shape {
  transform: rotateX(0deg) rotateY(45deg) rotateZ(180deg); }

[data-axis='y'] .scenes:nth-of-type(9) .scene:nth-of-type(4) .shape {
  transform: rotateX(0deg) rotateY(67.5deg) rotateZ(180deg); }

[data-axis='y'] .scenes:nth-of-type(9) .scene:nth-of-type(5) .shape {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(180deg); }

[data-axis='y'] .scenes:nth-of-type(9) .scene:nth-of-type(6) .shape {
  transform: rotateX(0deg) rotateY(112.5deg) rotateZ(180deg); }

[data-axis='y'] .scenes:nth-of-type(9) .scene:nth-of-type(7) .shape {
  transform: rotateX(0deg) rotateY(135deg) rotateZ(180deg); }

[data-axis='y'] .scenes:nth-of-type(9) .scene:nth-of-type(8) .shape {
  transform: rotateX(0deg) rotateY(157.5deg) rotateZ(180deg); }

[data-axis='y'] .scenes:nth-of-type(9) .scene:nth-of-type(9) .shape {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(180deg); }

[data-axis='z'] .scenes:nth-of-type(1) .scene:nth-of-type(1) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='z'] .scenes:nth-of-type(1) .scene:nth-of-type(2) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(22.5deg); }

[data-axis='z'] .scenes:nth-of-type(1) .scene:nth-of-type(3) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(45deg); }

[data-axis='z'] .scenes:nth-of-type(1) .scene:nth-of-type(4) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(67.5deg); }

[data-axis='z'] .scenes:nth-of-type(1) .scene:nth-of-type(5) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg); }

[data-axis='z'] .scenes:nth-of-type(1) .scene:nth-of-type(6) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(112.5deg); }

[data-axis='z'] .scenes:nth-of-type(1) .scene:nth-of-type(7) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(135deg); }

[data-axis='z'] .scenes:nth-of-type(1) .scene:nth-of-type(8) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(157.5deg); }

[data-axis='z'] .scenes:nth-of-type(1) .scene:nth-of-type(9) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg); }

[data-axis='z'] .scenes:nth-of-type(2) .scene:nth-of-type(1) .shape {
  transform: rotateX(22.5deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='z'] .scenes:nth-of-type(2) .scene:nth-of-type(2) .shape {
  transform: rotateX(22.5deg) rotateY(0deg) rotateZ(22.5deg); }

[data-axis='z'] .scenes:nth-of-type(2) .scene:nth-of-type(3) .shape {
  transform: rotateX(22.5deg) rotateY(0deg) rotateZ(45deg); }

[data-axis='z'] .scenes:nth-of-type(2) .scene:nth-of-type(4) .shape {
  transform: rotateX(22.5deg) rotateY(0deg) rotateZ(67.5deg); }

[data-axis='z'] .scenes:nth-of-type(2) .scene:nth-of-type(5) .shape {
  transform: rotateX(22.5deg) rotateY(0deg) rotateZ(90deg); }

[data-axis='z'] .scenes:nth-of-type(2) .scene:nth-of-type(6) .shape {
  transform: rotateX(22.5deg) rotateY(0deg) rotateZ(112.5deg); }

[data-axis='z'] .scenes:nth-of-type(2) .scene:nth-of-type(7) .shape {
  transform: rotateX(22.5deg) rotateY(0deg) rotateZ(135deg); }

[data-axis='z'] .scenes:nth-of-type(2) .scene:nth-of-type(8) .shape {
  transform: rotateX(22.5deg) rotateY(0deg) rotateZ(157.5deg); }

[data-axis='z'] .scenes:nth-of-type(2) .scene:nth-of-type(9) .shape {
  transform: rotateX(22.5deg) rotateY(0deg) rotateZ(180deg); }

[data-axis='z'] .scenes:nth-of-type(3) .scene:nth-of-type(1) .shape {
  transform: rotateX(45deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='z'] .scenes:nth-of-type(3) .scene:nth-of-type(2) .shape {
  transform: rotateX(45deg) rotateY(0deg) rotateZ(22.5deg); }

[data-axis='z'] .scenes:nth-of-type(3) .scene:nth-of-type(3) .shape {
  transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg); }

[data-axis='z'] .scenes:nth-of-type(3) .scene:nth-of-type(4) .shape {
  transform: rotateX(45deg) rotateY(0deg) rotateZ(67.5deg); }

[data-axis='z'] .scenes:nth-of-type(3) .scene:nth-of-type(5) .shape {
  transform: rotateX(45deg) rotateY(0deg) rotateZ(90deg); }

[data-axis='z'] .scenes:nth-of-type(3) .scene:nth-of-type(6) .shape {
  transform: rotateX(45deg) rotateY(0deg) rotateZ(112.5deg); }

[data-axis='z'] .scenes:nth-of-type(3) .scene:nth-of-type(7) .shape {
  transform: rotateX(45deg) rotateY(0deg) rotateZ(135deg); }

[data-axis='z'] .scenes:nth-of-type(3) .scene:nth-of-type(8) .shape {
  transform: rotateX(45deg) rotateY(0deg) rotateZ(157.5deg); }

[data-axis='z'] .scenes:nth-of-type(3) .scene:nth-of-type(9) .shape {
  transform: rotateX(45deg) rotateY(0deg) rotateZ(180deg); }

[data-axis='z'] .scenes:nth-of-type(4) .scene:nth-of-type(1) .shape {
  transform: rotateX(67.5deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='z'] .scenes:nth-of-type(4) .scene:nth-of-type(2) .shape {
  transform: rotateX(67.5deg) rotateY(0deg) rotateZ(22.5deg); }

[data-axis='z'] .scenes:nth-of-type(4) .scene:nth-of-type(3) .shape {
  transform: rotateX(67.5deg) rotateY(0deg) rotateZ(45deg); }

[data-axis='z'] .scenes:nth-of-type(4) .scene:nth-of-type(4) .shape {
  transform: rotateX(67.5deg) rotateY(0deg) rotateZ(67.5deg); }

[data-axis='z'] .scenes:nth-of-type(4) .scene:nth-of-type(5) .shape {
  transform: rotateX(67.5deg) rotateY(0deg) rotateZ(90deg); }

[data-axis='z'] .scenes:nth-of-type(4) .scene:nth-of-type(6) .shape {
  transform: rotateX(67.5deg) rotateY(0deg) rotateZ(112.5deg); }

[data-axis='z'] .scenes:nth-of-type(4) .scene:nth-of-type(7) .shape {
  transform: rotateX(67.5deg) rotateY(0deg) rotateZ(135deg); }

[data-axis='z'] .scenes:nth-of-type(4) .scene:nth-of-type(8) .shape {
  transform: rotateX(67.5deg) rotateY(0deg) rotateZ(157.5deg); }

[data-axis='z'] .scenes:nth-of-type(4) .scene:nth-of-type(9) .shape {
  transform: rotateX(67.5deg) rotateY(0deg) rotateZ(180deg); }

[data-axis='z'] .scenes:nth-of-type(5) .scene:nth-of-type(1) .shape {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='z'] .scenes:nth-of-type(5) .scene:nth-of-type(2) .shape {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(22.5deg); }

[data-axis='z'] .scenes:nth-of-type(5) .scene:nth-of-type(3) .shape {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(45deg); }

[data-axis='z'] .scenes:nth-of-type(5) .scene:nth-of-type(4) .shape {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(67.5deg); }

[data-axis='z'] .scenes:nth-of-type(5) .scene:nth-of-type(5) .shape {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(90deg); }

[data-axis='z'] .scenes:nth-of-type(5) .scene:nth-of-type(6) .shape {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(112.5deg); }

[data-axis='z'] .scenes:nth-of-type(5) .scene:nth-of-type(7) .shape {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(135deg); }

[data-axis='z'] .scenes:nth-of-type(5) .scene:nth-of-type(8) .shape {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(157.5deg); }

[data-axis='z'] .scenes:nth-of-type(5) .scene:nth-of-type(9) .shape {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(180deg); }

[data-axis='z'] .scenes:nth-of-type(6) .scene:nth-of-type(1) .shape {
  transform: rotateX(112.5deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='z'] .scenes:nth-of-type(6) .scene:nth-of-type(2) .shape {
  transform: rotateX(112.5deg) rotateY(0deg) rotateZ(22.5deg); }

[data-axis='z'] .scenes:nth-of-type(6) .scene:nth-of-type(3) .shape {
  transform: rotateX(112.5deg) rotateY(0deg) rotateZ(45deg); }

[data-axis='z'] .scenes:nth-of-type(6) .scene:nth-of-type(4) .shape {
  transform: rotateX(112.5deg) rotateY(0deg) rotateZ(67.5deg); }

[data-axis='z'] .scenes:nth-of-type(6) .scene:nth-of-type(5) .shape {
  transform: rotateX(112.5deg) rotateY(0deg) rotateZ(90deg); }

[data-axis='z'] .scenes:nth-of-type(6) .scene:nth-of-type(6) .shape {
  transform: rotateX(112.5deg) rotateY(0deg) rotateZ(112.5deg); }

[data-axis='z'] .scenes:nth-of-type(6) .scene:nth-of-type(7) .shape {
  transform: rotateX(112.5deg) rotateY(0deg) rotateZ(135deg); }

[data-axis='z'] .scenes:nth-of-type(6) .scene:nth-of-type(8) .shape {
  transform: rotateX(112.5deg) rotateY(0deg) rotateZ(157.5deg); }

[data-axis='z'] .scenes:nth-of-type(6) .scene:nth-of-type(9) .shape {
  transform: rotateX(112.5deg) rotateY(0deg) rotateZ(180deg); }

[data-axis='z'] .scenes:nth-of-type(7) .scene:nth-of-type(1) .shape {
  transform: rotateX(135deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='z'] .scenes:nth-of-type(7) .scene:nth-of-type(2) .shape {
  transform: rotateX(135deg) rotateY(0deg) rotateZ(22.5deg); }

[data-axis='z'] .scenes:nth-of-type(7) .scene:nth-of-type(3) .shape {
  transform: rotateX(135deg) rotateY(0deg) rotateZ(45deg); }

[data-axis='z'] .scenes:nth-of-type(7) .scene:nth-of-type(4) .shape {
  transform: rotateX(135deg) rotateY(0deg) rotateZ(67.5deg); }

[data-axis='z'] .scenes:nth-of-type(7) .scene:nth-of-type(5) .shape {
  transform: rotateX(135deg) rotateY(0deg) rotateZ(90deg); }

[data-axis='z'] .scenes:nth-of-type(7) .scene:nth-of-type(6) .shape {
  transform: rotateX(135deg) rotateY(0deg) rotateZ(112.5deg); }

[data-axis='z'] .scenes:nth-of-type(7) .scene:nth-of-type(7) .shape {
  transform: rotateX(135deg) rotateY(0deg) rotateZ(135deg); }

[data-axis='z'] .scenes:nth-of-type(7) .scene:nth-of-type(8) .shape {
  transform: rotateX(135deg) rotateY(0deg) rotateZ(157.5deg); }

[data-axis='z'] .scenes:nth-of-type(7) .scene:nth-of-type(9) .shape {
  transform: rotateX(135deg) rotateY(0deg) rotateZ(180deg); }

[data-axis='z'] .scenes:nth-of-type(8) .scene:nth-of-type(1) .shape {
  transform: rotateX(157.5deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='z'] .scenes:nth-of-type(8) .scene:nth-of-type(2) .shape {
  transform: rotateX(157.5deg) rotateY(0deg) rotateZ(22.5deg); }

[data-axis='z'] .scenes:nth-of-type(8) .scene:nth-of-type(3) .shape {
  transform: rotateX(157.5deg) rotateY(0deg) rotateZ(45deg); }

[data-axis='z'] .scenes:nth-of-type(8) .scene:nth-of-type(4) .shape {
  transform: rotateX(157.5deg) rotateY(0deg) rotateZ(67.5deg); }

[data-axis='z'] .scenes:nth-of-type(8) .scene:nth-of-type(5) .shape {
  transform: rotateX(157.5deg) rotateY(0deg) rotateZ(90deg); }

[data-axis='z'] .scenes:nth-of-type(8) .scene:nth-of-type(6) .shape {
  transform: rotateX(157.5deg) rotateY(0deg) rotateZ(112.5deg); }

[data-axis='z'] .scenes:nth-of-type(8) .scene:nth-of-type(7) .shape {
  transform: rotateX(157.5deg) rotateY(0deg) rotateZ(135deg); }

[data-axis='z'] .scenes:nth-of-type(8) .scene:nth-of-type(8) .shape {
  transform: rotateX(157.5deg) rotateY(0deg) rotateZ(157.5deg); }

[data-axis='z'] .scenes:nth-of-type(8) .scene:nth-of-type(9) .shape {
  transform: rotateX(157.5deg) rotateY(0deg) rotateZ(180deg); }

[data-axis='z'] .scenes:nth-of-type(9) .scene:nth-of-type(1) .shape {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='z'] .scenes:nth-of-type(9) .scene:nth-of-type(2) .shape {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(22.5deg); }

[data-axis='z'] .scenes:nth-of-type(9) .scene:nth-of-type(3) .shape {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(45deg); }

[data-axis='z'] .scenes:nth-of-type(9) .scene:nth-of-type(4) .shape {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(67.5deg); }

[data-axis='z'] .scenes:nth-of-type(9) .scene:nth-of-type(5) .shape {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(90deg); }

[data-axis='z'] .scenes:nth-of-type(9) .scene:nth-of-type(6) .shape {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(112.5deg); }

[data-axis='z'] .scenes:nth-of-type(9) .scene:nth-of-type(7) .shape {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(135deg); }

[data-axis='z'] .scenes:nth-of-type(9) .scene:nth-of-type(8) .shape {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(157.5deg); }

[data-axis='z'] .scenes:nth-of-type(9) .scene:nth-of-type(9) .shape {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(180deg); }

[data-axis='x'] .scenes:nth-of-type(1) .scene:nth-of-type(1) .shape {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(1) .scene:nth-of-type(2) .shape {
  transform: rotateX(0deg) rotateY(22.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(1) .scene:nth-of-type(3) .shape {
  transform: rotateX(0deg) rotateY(45deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(1) .scene:nth-of-type(4) .shape {
  transform: rotateX(0deg) rotateY(67.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(1) .scene:nth-of-type(5) .shape {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(1) .scene:nth-of-type(6) .shape {
  transform: rotateX(0deg) rotateY(112.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(1) .scene:nth-of-type(7) .shape {
  transform: rotateX(0deg) rotateY(135deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(1) .scene:nth-of-type(8) .shape {
  transform: rotateX(0deg) rotateY(157.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(1) .scene:nth-of-type(9) .shape {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(2) .scene:nth-of-type(1) .shape {
  transform: rotateX(22.5deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(2) .scene:nth-of-type(2) .shape {
  transform: rotateX(22.5deg) rotateY(22.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(2) .scene:nth-of-type(3) .shape {
  transform: rotateX(22.5deg) rotateY(45deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(2) .scene:nth-of-type(4) .shape {
  transform: rotateX(22.5deg) rotateY(67.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(2) .scene:nth-of-type(5) .shape {
  transform: rotateX(22.5deg) rotateY(90deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(2) .scene:nth-of-type(6) .shape {
  transform: rotateX(22.5deg) rotateY(112.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(2) .scene:nth-of-type(7) .shape {
  transform: rotateX(22.5deg) rotateY(135deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(2) .scene:nth-of-type(8) .shape {
  transform: rotateX(22.5deg) rotateY(157.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(2) .scene:nth-of-type(9) .shape {
  transform: rotateX(22.5deg) rotateY(180deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(3) .scene:nth-of-type(1) .shape {
  transform: rotateX(45deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(3) .scene:nth-of-type(2) .shape {
  transform: rotateX(45deg) rotateY(22.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(3) .scene:nth-of-type(3) .shape {
  transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(3) .scene:nth-of-type(4) .shape {
  transform: rotateX(45deg) rotateY(67.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(3) .scene:nth-of-type(5) .shape {
  transform: rotateX(45deg) rotateY(90deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(3) .scene:nth-of-type(6) .shape {
  transform: rotateX(45deg) rotateY(112.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(3) .scene:nth-of-type(7) .shape {
  transform: rotateX(45deg) rotateY(135deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(3) .scene:nth-of-type(8) .shape {
  transform: rotateX(45deg) rotateY(157.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(3) .scene:nth-of-type(9) .shape {
  transform: rotateX(45deg) rotateY(180deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(4) .scene:nth-of-type(1) .shape {
  transform: rotateX(67.5deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(4) .scene:nth-of-type(2) .shape {
  transform: rotateX(67.5deg) rotateY(22.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(4) .scene:nth-of-type(3) .shape {
  transform: rotateX(67.5deg) rotateY(45deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(4) .scene:nth-of-type(4) .shape {
  transform: rotateX(67.5deg) rotateY(67.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(4) .scene:nth-of-type(5) .shape {
  transform: rotateX(67.5deg) rotateY(90deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(4) .scene:nth-of-type(6) .shape {
  transform: rotateX(67.5deg) rotateY(112.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(4) .scene:nth-of-type(7) .shape {
  transform: rotateX(67.5deg) rotateY(135deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(4) .scene:nth-of-type(8) .shape {
  transform: rotateX(67.5deg) rotateY(157.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(4) .scene:nth-of-type(9) .shape {
  transform: rotateX(67.5deg) rotateY(180deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(5) .scene:nth-of-type(1) .shape {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(5) .scene:nth-of-type(2) .shape {
  transform: rotateX(90deg) rotateY(22.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(5) .scene:nth-of-type(3) .shape {
  transform: rotateX(90deg) rotateY(45deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(5) .scene:nth-of-type(4) .shape {
  transform: rotateX(90deg) rotateY(67.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(5) .scene:nth-of-type(5) .shape {
  transform: rotateX(90deg) rotateY(90deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(5) .scene:nth-of-type(6) .shape {
  transform: rotateX(90deg) rotateY(112.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(5) .scene:nth-of-type(7) .shape {
  transform: rotateX(90deg) rotateY(135deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(5) .scene:nth-of-type(8) .shape {
  transform: rotateX(90deg) rotateY(157.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(5) .scene:nth-of-type(9) .shape {
  transform: rotateX(90deg) rotateY(180deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(6) .scene:nth-of-type(1) .shape {
  transform: rotateX(112.5deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(6) .scene:nth-of-type(2) .shape {
  transform: rotateX(112.5deg) rotateY(22.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(6) .scene:nth-of-type(3) .shape {
  transform: rotateX(112.5deg) rotateY(45deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(6) .scene:nth-of-type(4) .shape {
  transform: rotateX(112.5deg) rotateY(67.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(6) .scene:nth-of-type(5) .shape {
  transform: rotateX(112.5deg) rotateY(90deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(6) .scene:nth-of-type(6) .shape {
  transform: rotateX(112.5deg) rotateY(112.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(6) .scene:nth-of-type(7) .shape {
  transform: rotateX(112.5deg) rotateY(135deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(6) .scene:nth-of-type(8) .shape {
  transform: rotateX(112.5deg) rotateY(157.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(6) .scene:nth-of-type(9) .shape {
  transform: rotateX(112.5deg) rotateY(180deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(7) .scene:nth-of-type(1) .shape {
  transform: rotateX(135deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(7) .scene:nth-of-type(2) .shape {
  transform: rotateX(135deg) rotateY(22.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(7) .scene:nth-of-type(3) .shape {
  transform: rotateX(135deg) rotateY(45deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(7) .scene:nth-of-type(4) .shape {
  transform: rotateX(135deg) rotateY(67.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(7) .scene:nth-of-type(5) .shape {
  transform: rotateX(135deg) rotateY(90deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(7) .scene:nth-of-type(6) .shape {
  transform: rotateX(135deg) rotateY(112.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(7) .scene:nth-of-type(7) .shape {
  transform: rotateX(135deg) rotateY(135deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(7) .scene:nth-of-type(8) .shape {
  transform: rotateX(135deg) rotateY(157.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(7) .scene:nth-of-type(9) .shape {
  transform: rotateX(135deg) rotateY(180deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(8) .scene:nth-of-type(1) .shape {
  transform: rotateX(157.5deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(8) .scene:nth-of-type(2) .shape {
  transform: rotateX(157.5deg) rotateY(22.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(8) .scene:nth-of-type(3) .shape {
  transform: rotateX(157.5deg) rotateY(45deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(8) .scene:nth-of-type(4) .shape {
  transform: rotateX(157.5deg) rotateY(67.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(8) .scene:nth-of-type(5) .shape {
  transform: rotateX(157.5deg) rotateY(90deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(8) .scene:nth-of-type(6) .shape {
  transform: rotateX(157.5deg) rotateY(112.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(8) .scene:nth-of-type(7) .shape {
  transform: rotateX(157.5deg) rotateY(135deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(8) .scene:nth-of-type(8) .shape {
  transform: rotateX(157.5deg) rotateY(157.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(8) .scene:nth-of-type(9) .shape {
  transform: rotateX(157.5deg) rotateY(180deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(9) .scene:nth-of-type(1) .shape {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(9) .scene:nth-of-type(2) .shape {
  transform: rotateX(180deg) rotateY(22.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(9) .scene:nth-of-type(3) .shape {
  transform: rotateX(180deg) rotateY(45deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(9) .scene:nth-of-type(4) .shape {
  transform: rotateX(180deg) rotateY(67.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(9) .scene:nth-of-type(5) .shape {
  transform: rotateX(180deg) rotateY(90deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(9) .scene:nth-of-type(6) .shape {
  transform: rotateX(180deg) rotateY(112.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(9) .scene:nth-of-type(7) .shape {
  transform: rotateX(180deg) rotateY(135deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(9) .scene:nth-of-type(8) .shape {
  transform: rotateX(180deg) rotateY(157.5deg) rotateZ(0deg); }

[data-axis='x'] .scenes:nth-of-type(9) .scene:nth-of-type(9) .shape {
  transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg); }

.face1 .face[data-index='1'],
.face2 .face[data-index='2'],
.face3 .face[data-index='3'],
.face4 .face[data-index='4'],
.face5 .face[data-index='5'],
.face6 .face[data-index='6'] {
  opacity: 0; }

.container {
  width: 1400px;
  margin-left: 30px; }

.group {
  display: inline-block;
  margin-right: 30px; }
