/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span,
a, dl, dt, dd,
em, img,
small,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside,
figure, figcaption, footer, header,
nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: Helvetica, sans-serif; }

.flex-wrapper {
  display: flex; }

.for-observation {
  font-size: smaller; }
  .for-observation .material-icons {
    font-size: 22px; }

.logo {
  font-size: 1em;
  padding: 0;
  margin: 0; }

dt {
  font-weight: 700; }

a:hover {
  text-decoration: none; }

.last-update {
  font-size: smaller;
  position: absolute;
  right: 10px; }

.app-header {
  background: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .app-header a {
    color: #fff; }

.material-icons {
  vertical-align: middle; }

.rotate-90 {
  transform: rotateZ(90deg); }

.rotate-45 {
  transform: rotateZ(45deg); }

.main-nav {
  padding: 10px;
  min-width: 180px; }
  .main-nav ol,
  .main-nav ul {
    padding-left: 1em;
    margin: 0; }
  .main-nav li {
    padding: 0;
    margin: 0 0 1em; }
  .main-nav .heading {
    margin-top: 0; }

.page-title {
  margin-top: 0; }

.app-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch; }

.app-main {
  padding: 10px;
  position: relative;
  width: 100%;
  border-left: 1px solid #333;
  border-right: 1px solid #333; }

.simple-list {
  margin: 0 0 2em 1.5em;
  padding: 0; }
  .simple-list p {
    margin: 0; }
  .simple-list li {
    margin: .5em 0; }

.en {
  font-size: smaller;
  display: block; }
  .en::before {
    content: '('; }
  .en::after {
    content: ')'; }

.social-media {
  margin: 0;
  padding: 0;
  font-size: smaller; }
  .social-media li {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 1em; }

.heading {
  font-size: 1.2em; }
  .heading .en {
    font-weight: 400;
    font-size: .7em; }

.app-footer {
  font-size: smaller;
  padding: 10px;
  border-top: 1px solid #333; }
  .app-footer .material-icons {
    font-size: 1em; }

.app-aside {
  padding: 10px;
  min-width: 400px; }
  .app-aside .heading {
    margin: 0; }

@media print {
  .app-header,
  .app-footer,
  .main-nav,
  .hide-for-print,
  .last-update {
    display: none; }
  .app-main {
    border: 0;
    padding: 0; } }

label {
  cursor: pointer;
  display: inline-block; }

button,
.button {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 5px;
  outline: none;
  border: 1px solid #333; }
  button:hover,
  .button:hover {
    background: #ccc; }

.fake-input {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid #777;
  position: relative; }

.is-checked .fake-input::before {
  position: absolute;
  top: 1px;
  left: 1px;
  content: '';
  display: inline-block;
  background: #777;
  width: 10px;
  height: 10px;
  border-radius: 2px; }

.scenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.scene {
  perspective: 600px;
  margin: 20px; }

.shapes {
  display: flex;
  flex-wrap: wrap; }

.shape {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s; }

.face {
  position: absolute;
  border: 2px solid #333; }
  .face::before {
    position: absolute;
    content: attr(data-index);
    font-size: 30px;
    display: block;
    padding: 20px; }

.has-circle-x .axis-x .circle::after,
.has-circle-y .axis-y .circle::after,
.has-circle-z .axis-z .circle::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  border-radius: 50%;
  border: 1px solid #333; }

.has-cross-x .axis-x .cross::before, .has-cross-x .axis-x .cross::after,
.has-cross-y .axis-y .cross::before,
.has-cross-y .axis-y .cross::after,
.has-cross-z .axis-z .cross::before,
.has-cross-z .axis-z .cross::after {
  content: '';
  display: block;
  background: #333;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.has-cross-x .axis-x .cross::before,
.has-cross-y .axis-y .cross::before,
.has-cross-z .axis-z .cross::before {
  width: 1px; }

.has-cross-x .axis-x .cross::after,
.has-cross-y .axis-y .cross::after,
.has-cross-z .axis-z .cross::after {
  height: 1px; }

[data-shape='cube'] .shape {
  width: 200px;
  height: 200px; }

[data-shape='cube'] .axis-x {
  width: 200px;
  height: 200px; }

[data-shape='cube'] .axis-y {
  width: 200px;
  height: 200px; }

[data-shape='cube'] .axis-z {
  width: 200px;
  height: 200px; }

[data-shape='cube'] .x1 {
  transform: rotateY(0deg) translateZ(100px);
  background: rgba(255, 113, 113, 0.7); }

[data-shape='cube'] .x2 {
  transform: rotateY(180deg) translateZ(100px);
  background: rgba(245, 192, 192, 0.7); }

[data-shape='cube'] .y1 {
  transform: rotateY(90deg) translateZ(100px);
  background: rgba(254, 168, 47, 0.7); }

[data-shape='cube'] .y2 {
  transform: rotateY(-90deg) translateZ(100px);
  background: rgba(255, 194, 136, 0.7); }

[data-shape='cube'] .z1 {
  transform: rotateX(90deg) translateZ(100px);
  background: rgba(0, 173, 181, 0.7); }

[data-shape='cube'] .z2 {
  transform: rotateX(-90deg) translateZ(100px);
  background: rgba(170, 216, 211, 0.7); }

[data-shape='cuboid'] .shape {
  width: 150px;
  height: 260px; }

[data-shape='cuboid'] .axis-x {
  width: 150px;
  height: 260px; }

[data-shape='cuboid'] .axis-y {
  width: 150px;
  height: 260px; }

[data-shape='cuboid'] .axis-z {
  width: 150px;
  height: 150px; }

[data-shape='cuboid'] .x1 {
  transform: rotateY(0deg) translateZ(75px);
  background: rgba(255, 113, 113, 0.7); }

[data-shape='cuboid'] .x2 {
  transform: rotateY(180deg) translateZ(75px);
  background: rgba(245, 192, 192, 0.7); }

[data-shape='cuboid'] .y1 {
  transform: rotateY(90deg) translateZ(75px);
  background: rgba(254, 168, 47, 0.7); }

[data-shape='cuboid'] .y2 {
  transform: rotateY(-90deg) translateZ(75px);
  background: rgba(255, 194, 136, 0.7); }

[data-shape='cuboid'] .z1 {
  transform: rotateX(90deg) translateZ(75px);
  background: rgba(0, 173, 181, 0.7); }

[data-shape='cuboid'] .z2 {
  transform: rotateX(-90deg) translateZ(185px);
  background: rgba(170, 216, 211, 0.7); }

[data-shape='cylinder'] .shape {
  width: 150px;
  height: 260px; }

[data-shape='cylinder'] .wall {
  width: 10px;
  height: 260px;
  border: 0; }

[data-shape='cylinder'] .axis-z {
  border-radius: 50%;
  width: 150px;
  height: 150px; }
  [data-shape='cylinder'] .axis-z::before {
    padding: 30px 0 0 30px; }

[data-shape='cylinder'] .x1 {
  transform: rotateY(10deg) translateZ(10px);
  background: rgba(255, 113, 113, 0.7); }

[data-shape='cylinder'] .x2 {
  transform: rotateY(180deg) translateZ(10px);
  background: rgba(245, 192, 192, 0.7); }

[data-shape='cylinder'] .y1 {
  transform: rotateY(90deg) translateZ(10px);
  background: rgba(254, 168, 47, 0.7); }

[data-shape='cylinder'] .y2 {
  transform: rotateY(-90deg) translateZ(10px);
  background: rgba(255, 194, 136, 0.7); }

[data-shape='cylinder'] .z1 {
  transform: rotateX(90deg) translateZ(75px);
  background: rgba(0, 173, 181, 0.7); }

[data-shape='cylinder'] .z2 {
  transform: rotateX(-90deg) translateZ(185px);
  background: rgba(170, 216, 211, 0.7); }

[data-shape='pyramid'] .shape {
  width: 200px;
  height: 200px; }

[data-shape='pyramid'] .face {
  width: 200px;
  height: 200px; }

[data-shape='pyramid'] .wall {
  border: 0; }
  [data-shape='pyramid'] .wall::before {
    left: 30px;
    bottom: 0; }
  [data-shape='pyramid'] .wall::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid; }

[data-shape='pyramid'] .x1 {
  transform: rotateX(30deg) translateZ(57px); }
  [data-shape='pyramid'] .x1::after {
    border-bottom-color: rgba(255, 113, 113, 0.7); }

[data-shape='pyramid'] .x2 {
  transform: rotateX(-30deg) rotateY(180deg) translateZ(57px); }
  [data-shape='pyramid'] .x2::after {
    border-bottom-color: rgba(245, 192, 192, 0.7); }

[data-shape='pyramid'] .y1 {
  transform: rotateZ(-30deg) rotateY(90deg) translateZ(57px); }
  [data-shape='pyramid'] .y1::after {
    border-bottom-color: rgba(254, 168, 47, 0.7); }

[data-shape='pyramid'] .y2 {
  transform: rotateZ(30deg) rotateY(-90deg) translateZ(57px); }
  [data-shape='pyramid'] .y2::after {
    border-bottom-color: rgba(255, 194, 136, 0.7); }

[data-shape='pyramid'] .z2 {
  transform: rotateX(-90deg) translateZ(57px);
  background: rgba(170, 216, 211, 0.7); }

[data-shape='cone'] .shape {
  width: 200px;
  height: 200px; }

[data-shape='cone'] .face {
  width: 200px;
  height: 200px; }

[data-shape='cone'] .wall {
  border: 0; }
  [data-shape='cone'] .wall::before {
    display: none; }
  [data-shape='cone'] .wall::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 200px solid; }

[data-shape='cone'] .x1 {
  transform: rotateX(30deg) translateZ(57px); }
  [data-shape='cone'] .x1::after {
    border-bottom-color: rgba(255, 113, 113, 0.7); }

[data-shape='cone'] .x2 {
  transform: rotateX(-30deg) rotateY(180deg) translateZ(57px); }
  [data-shape='cone'] .x2::after {
    border-bottom-color: rgba(245, 192, 192, 0.7); }

[data-shape='cone'] .y1 {
  transform: rotateZ(-30deg) rotateY(90deg) translateZ(57px); }
  [data-shape='cone'] .y1::after {
    border-bottom-color: rgba(254, 168, 47, 0.7); }

[data-shape='cone'] .y2 {
  transform: rotateZ(30deg) rotateY(-90deg) translateZ(57px); }
  [data-shape='cone'] .y2::after {
    border-bottom-color: rgba(255, 194, 136, 0.7); }

[data-shape='cone'] .z2 {
  transform: rotateX(-90deg) translateZ(57px);
  background: rgba(170, 216, 211, 0.7);
  border-radius: 50%; }

.app-aside {
  width: 400px; }

section {
  width: 50%; }

.user-input {
  padding: 5px;
  font-size: larger;
  vertical-align: middle; }
  .user-input[type='range'] {
    width: 200px; }
  .user-input[type='tel'] {
    width: 3em;
    text-align: center; }

label {
  margin-right: 30px;
  display: block; }

.slider-controlls .material-icons {
  font-size: 50px; }

fieldset .material-icons {
  font-size: 30px; }
