/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span,
a, dl, dt, dd,
em, img,
small,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside,
figure, figcaption, footer, header,
nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: Helvetica, sans-serif; }

.flex-wrapper {
  display: flex; }

.for-observation {
  font-size: smaller; }
  .for-observation .material-icons {
    font-size: 22px; }

.logo {
  font-size: 1em;
  padding: 0;
  margin: 0; }

dt {
  font-weight: 700; }

a:hover {
  text-decoration: none; }

.last-update {
  font-size: smaller;
  position: absolute;
  right: 10px; }

.app-header {
  background: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .app-header a {
    color: #fff; }

.material-icons {
  vertical-align: middle; }

.rotate-90 {
  transform: rotateZ(90deg); }

.rotate-45 {
  transform: rotateZ(45deg); }

.main-nav {
  padding: 10px;
  min-width: 180px; }
  .main-nav ol,
  .main-nav ul {
    padding-left: 1em;
    margin: 0; }
  .main-nav li {
    padding: 0;
    margin: 0 0 1em; }
  .main-nav .heading {
    margin-top: 0; }

.page-title {
  margin-top: 0; }

.app-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch; }

.app-main {
  padding: 10px;
  position: relative;
  width: 100%;
  border-left: 1px solid #333;
  border-right: 1px solid #333; }

.simple-list {
  margin: 0 0 2em 1.5em;
  padding: 0; }
  .simple-list p {
    margin: 0; }
  .simple-list li {
    margin: .5em 0; }

.en {
  font-size: smaller;
  display: block; }
  .en::before {
    content: '('; }
  .en::after {
    content: ')'; }

.social-media {
  margin: 0;
  padding: 0;
  font-size: smaller; }
  .social-media li {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 1em; }

.heading {
  font-size: 1.2em; }
  .heading .en {
    font-weight: 400;
    font-size: .7em; }

.app-footer {
  font-size: smaller;
  padding: 10px;
  border-top: 1px solid #333; }
  .app-footer .material-icons {
    font-size: 1em; }

.app-aside {
  padding: 10px;
  min-width: 400px; }
  .app-aside .heading {
    margin: 0; }

@media print {
  .app-header,
  .app-footer,
  .main-nav,
  .hide-for-print,
  .last-update {
    display: none; }
  .app-main {
    border: 0;
    padding: 0; } }

label {
  cursor: pointer;
  display: inline-block; }

button,
.button {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 5px;
  outline: none;
  border: 1px solid #333; }
  button:hover,
  .button:hover {
    background: #ccc; }

.fake-input {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid #777;
  position: relative; }

.is-checked .fake-input::before {
  position: absolute;
  top: 1px;
  left: 1px;
  content: '';
  display: inline-block;
  background: #777;
  width: 10px;
  height: 10px;
  border-radius: 2px; }

input[type='checkbox'] {
  position: fixed;
  top: -100px; }

h1 {
  margin: 0; }

label {
  display: inline-block;
  margin-right: 10px;
  position: absolute;
  font-size: larger; }

dd {
  margin: 0 0 1em;
  border: 1px solid #333;
  position: relative; }

.text-red {
  color: red; }

.text-blue {
  color: blue; }

.text-green {
  color: green; }

.perspective-images {
  position: relative;
  min-height: 930px;
  width: 70%; }
  .perspective-images img {
    position: absolute;
    width: 50%;
    display: none; }
  .perspective-images .vp0,
  .perspective-images .vp1 {
    top: -20px; }
  .perspective-images .vp2,
  .perspective-images .vp3 {
    top: 410px; }
  .perspective-images .vp1,
  .perspective-images .vp3 {
    left: 50%; }
  .perspective-images .vp0,
  .perspective-images .vp2 {
    left: 0; }
  .perspective-images .vanishing-points img {
    display: block; }

.nav {
  width: 36%; }
  .nav a {
    display: inline-block;
    padding: 5px;
    pointer-events: none; }
  .nav img {
    width: 150px; }

.flex-wrapper {
  display: flex; }

[for='v-cyan'] {
  top: 70px;
  left: 60px; }

[for='v-cyan-light'] {
  top: 110px;
  left: 210px; }

[for='v-violet'] {
  top: 30px;
  left: 5px; }

[for='v-violet-light'] {
  top: 70px;
  left: 150px; }

[for='v-yellow'] {
  top: 30px;
  left: 114px; }

[for='v-yellow-light'] {
  top: 70px;
  left: 270px; }

[for='v-red'] {
  top: 0;
  left: 60px; }

[for='v-red-light'] {
  top: 40PX;
  left: 210px; }

[for='e-blue-1'] {
  top: 100px;
  left: 10px; }

[for='e-blue-2'] {
  top: 13px;
  left: 10px; }

[for='e-blue-3'] {
  top: 5px;
  left: 93px; }

[for='e-blue-dotted'] {
  top: 90px;
  left: 90px; }

[for='e-red-1'] {
  top: 47px;
  left: 137px; }

[for='e-red-2'] {
  top: 101px;
  left: 195px; }

[for='e-red-3'] {
  top: 47px;
  left: 268px; }

[for='e-red-dotted'] {
  top: 0;
  left: 190px; }

[for='e-green-1'] {
  top: 100px;
  left: 390px; }

[for='e-green-2'] {
  top: 15px;
  left: 400px; }

[for='e-green-3'] {
  top: 3px;
  left: 317px; }

[for='e-green-dotted'] {
  top: 85px;
  left: 310px; }

[for='g-blue-1'] {
  top: 90px;
  left: 10px; }

[for='g-blue-2'] {
  top: 13px;
  left: 10px; }

[for='g-blue-3'] {
  top: 0;
  left: 73px; }

[for='g-blue-dotted'] {
  top: 80px;
  left: 100px; }

[for='g-red-1'] {
  top: 27px;
  left: 137px; }

[for='g-red-2'] {
  top: 101px;
  left: 197px; }

[for='g-red-3'] {
  top: 27px;
  left: 266px; }

[for='g-red-dotted'] {
  top: 0;
  left: 197px; }

[for='g-green-1'] {
  top: 100px;
  left: 390px; }

[for='g-green-2'] {
  top: 15px;
  left: 400px; }

[for='g-green-3'] {
  top: -3px;
  left: 330px; }

[for='g-green-dotted'] {
  top: 85px;
  left: 290px; }

[for='f-cyan'] {
  top: 105px;
  left: 10px; }

[for='f-cyan-hidden'] {
  top: 45px;
  left: 270px; }

[for='f-yellow'] {
  top: 50px;
  left: 115px; }

[for='f-yellow-hidden'] {
  top: 0;
  left: 157px; }

[for='f-pink'] {
  top: 0;
  left: 30px; }

[for='f-pink-hidden'] {
  top: 102px;
  left: 180px; }

#f-cyan-hidden:checked ~ .f-cyan-hidden,
#f-yellow-hidden:checked ~ .f-yellow-hidden,
#f-pink-hidden:checked ~ .f-pink-hidden,
#f-cyan:checked ~ .f-cyan,
#f-yellow:checked ~ .f-yellow,
#f-pink:checked ~ .f-pink,
#g-red-1:checked ~ .g-red-1,
#g-red-2:checked ~ .g-red-2,
#g-red-3:checked ~ .g-red-3,
#g-red-dotted:checked ~ .g-red-dotted,
#g-blue-1:checked ~ .g-blue-1,
#g-blue-2:checked ~ .g-blue-2,
#g-blue-3:checked ~ .g-blue-3,
#g-blue-dotted:checked ~ .g-blue-dotted,
#g-green-1:checked ~ .g-green-1,
#g-green-2:checked ~ .g-green-2,
#g-green-3:checked ~ .g-green-3,
#g-green-dotted:checked ~ .g-green-dotted,
#e-red-1:checked ~ .e-red-1,
#e-red-2:checked ~ .e-red-2,
#e-red-3:checked ~ .e-red-3,
#e-red-dotted:checked ~ .e-red-dotted,
#e-blue-1:checked ~ .e-blue-1,
#e-blue-2:checked ~ .e-blue-2,
#e-blue-3:checked ~ .e-blue-3,
#e-blue-dotted:checked ~ .e-blue-dotted,
#e-green-1:checked ~ .e-green-1,
#e-green-2:checked ~ .e-green-2,
#e-green-3:checked ~ .e-green-3,
#e-green-dotted:checked ~ .e-green-dotted,
#v-cyan-light:checked ~ .v-cyan-light,
#v-yellow-light:checked ~ .v-yellow-light,
#v-red-light:checked ~ .v-red-light,
#v-violet-light:checked ~ .v-violet-light,
#v-cyan:checked ~ .v-cyan,
#v-yellow:checked ~ .v-yellow,
#v-red:checked ~ .v-red,
#v-violet:checked ~ .v-violet {
  display: block; }
