.image-gallery {
  // width: 612px;
  position: fixed;
  top: 2.5em;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  // display: none;
}

.bone-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}


.user-input + .bone-image {
  display: none;
}

.user-input:checked + .bone-image {
  display: block;
}

.direction {
  border: 1px solid #ccc;
  width: 25%;

  img {
    width: 100%;
  }
}

.gallery {
  display: flex;
}

.region-hands .direction {
  width: 100%;

}

