.lines {
  position: relative;
  display: flex;
  margin: 20px -120px -1900px;
}

.section-angles .scenes::before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1800px;
  height: 1px;
  margin: auto;
  content: '';
  display: block;
  background: #000;
}

.line {
  width: 1px;
  height: 1900px;
  margin: auto;
  background: #000;
}


[data-shape='cube'] {
  .lines {
    margin-bottom: -1800px;
  }
  .line {
    height: 1800px;
  }
}

[data-shape='cube'] {
  $size: 100px;

  .shape {
    width: $size;
    height: $size;
  }

  .face {
    width: $size;
    height: $size;
  }

  .x1 {
    transform: rotateY(0deg) translateZ($size/2);
  }
  .x2 {
    transform: rotateY(180deg) translateZ($size/2);
  }
  .y1 {
    transform: rotateY(90deg) translateZ($size/2);
  }
  .y2 {
    transform: rotateY(-90deg) translateZ($size/2);
  }
  .z1 {
    transform: rotateX(90deg) translateZ($size/2);
  }
  .z2 {
    transform: rotateX(-90deg) translateZ($size/2);
  }
}

[data-shape='cuboid'] {
  $width: 100px;
  $height: 130px;
  $depth: 70px;

  .shape {
    width: $width;
    height: $height;
  }

  .axis-x {
    width: $width;
    height: $height;
  }
  .axis-y {
    width: $depth;
    height: $height;
  }
  .axis-z {
    width: $width;
    height: $depth;
  }

  .x1 {
    transform: rotateY(0deg) translateZ($depth/2);
  }
  .x2 {
    transform: rotateY(180deg) translateZ($depth/2);
  }
  .y1 {
    transform: rotateY(90deg) translateZ($width - $depth/2);
  }
  .y2 {
    transform: rotateY(-90deg) translateZ($depth/2);
  }
  .z1 {
    transform: rotateX(90deg) translateZ($depth/2);
  }
  .z2 {
    transform: rotateX(-90deg) translateZ($height - $depth/2);
  }
}


.section-angles {
  width: 100%;

  .face {
    &::before {
      font-size: 20px;
    }
  }

  .scene {
    margin: 40px;
  }
  &[data-shape='cube'] .scene {
    margin: 55px 40px;
  }

  .scenes {
    flex-wrap: nowrap;
    position: relative;
  }
}


$angle: 180/8;

[data-axis='y'] {
  @for $i from 1 through 9 {
    $z: ($i - 1) * $angle;

    .scenes:nth-of-type(#{$i}) .scene {

      @for $j from 1 through 9 {
        $y: ($j - 1) * $angle;
        $x: 0;

        &:nth-of-type(#{$j}) .shape {
          @include rotate($x, $y, $z);
        }

      }

    }
  }
}

[data-axis='z'] {
  @for $i from 1 through 9 {
    $x: ($i - 1) * $angle;

    .scenes:nth-of-type(#{$i}) .scene {

      @for $j from 1 through 9 {
        $z: ($j - 1) * $angle;
        $y: 0;

        &:nth-of-type(#{$j}) .shape {
          @include rotate($x, $y, $z);
        }

      }

    }
  }
}


[data-axis='x'] {
  @for $i from 1 through 9 {
    $x: ($i - 1) * $angle;

    .scenes:nth-of-type(#{$i}) .scene {

      @for $j from 1 through 9 {
        $y: ($j - 1) * $angle;
        $z: 0;

        &:nth-of-type(#{$j}) .shape {
          @include rotate($x, $y, $z);
        }

      }

    }
  }
}

.face1 .face[data-index='1'],
.face2 .face[data-index='2'],
.face3 .face[data-index='3'],
.face4 .face[data-index='4'],
.face5 .face[data-index='5'],
.face6 .face[data-index='6'] {
  opacity: 0;
}
