$font-family-default: Helvetica, sans-serif;

$font-size-base:  1.6rem;
$font-size-smaller:  1.4rem;
$font-size-smallest:  1.2rem;
$font-size-large:  2rem;

$color-link: #0391d3;
$color-border: #ccc;
$color-border-dark: #333;
$color-bg: #f5f5f5;

$opacity: .7;
$color-pink: rgba(255, 113, 113, $opacity);
$color-pink-light: rgba(245, 192, 192, $opacity);

$color-yellow: rgba(254, 168, 47, $opacity);
$color-yellow-light: rgba(255, 194, 136, $opacity);

$color-cyan: rgba(0, 173, 181, $opacity);
$color-cyan-light: rgba(170, 216, 211, $opacity);

$color-blue: rgba(41, 120, 181, $opacity);
$color-blue-light: rgba(138, 182, 214, $opacity);

$color-green: rgba(145, 199, 136, $opacity);
$color-green-light: rgba(221, 255, 188, $opacity);

$color-white: rgba(255, 255, 255, $opacity);

$color-black: #333;

$color-x: green;
$color-y: blue;
$color-z: red;
