@charset 'UTF-8';
@import 'core';
@import 'forms';

$cuboid-w: 150px;
$cuboid-h: 260px;
$cuboid-d: 150px;

$cube-w: 200px;

$pyramid-size: 200px;

@import 'shapes/pyramid';
@import 'shapes/sphere';
@import 'shapes/hexahedron';
@import 'shapes/scene';

.app-aside {
  width: 400px;
}

section {
  width: 50%;
}

.user-input {
  padding: 5px;
  font-size: larger;
  vertical-align: middle;

  &[type='range'] {
    width: 200px;
  }
  &[type='tel'] {
    width: 3em;
    text-align: center;
  }
}

label {
  margin-right: 30px;
}

.slider-controlls {
  .material-icons {
    font-size: 50px;
  }
}

fieldset .material-icons {
  font-size: 30px;
}

