@charset 'UTF-8';
@import 'core';

.images {
  display: flex;

  img {
    width: 50%;
  }
}
.app-main {
  margin-right: 400px;
}
.app-aside {
  position: fixed;
  right: 0;
}

.edge {
  display: inline-block;
  height: 3px;
  min-width: 100px;
}

[data-color='red'] {
  background: $color-z;
}
[data-color='blue'] {
  background: $color-y;
}
[data-color='green'] {
  background: $color-x;
}

.text-red {
  color: $color-z;
}
.text-blue {
  color: $color-y;
}
.text-green {
  color: $color-x;
}
