@charset 'UTF-8';
@import 'core';
@import 'forms';

$cuboid-w: 80px;
$cuboid-h: 110px;
$cuboid-d: 70px;
$cube-w: 80px;

@import 'shapes/hexahedron';
@import 'shapes/scene';

fieldset {
  display: inline-block;
}

.user-input {
  padding: 5px;
  font-size: larger;
  vertical-align: middle;

  &[type='range'] {
    width: 200px;
  }
  &[type='tel'] {
    width: 3em;
    text-align: center;
  }
}


.container {
  width: 1400px;
  margin-left: 30px;
}

.group {
  display: inline-block;
  margin-right: 30px;
}

.lines {
  position: relative;
  display: flex;
  margin: 20px -40px -1700px 0;
}

.line {
  width: 1px;
  height: 1700px;
  margin: auto;
  background: #000;
}

.hide-grid {
  .lines,
  .line,
  .scenes::before {
    opacity: 0;
  }
}

.face {
  &::before {
    font-size: 20px;
  }
}

.scene {
  margin: 40px;
}

[data-shape='cube'] .scene {
  margin: 55px 40px;
}

.scenes {
  flex-wrap: nowrap;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1450px;
    height: 1px;
    margin: auto;
    content: '';
    display: block;
    background: #000;
  }
}

$angle: 180/8;

[data-axis='y'] {
  @for $i from 1 through 9 {
    $z: ($i - 1) * $angle;

    .scenes:nth-of-type(#{$i}) .scene {

      @for $j from 1 through 9 {
        $y: ($j - 1) * $angle;
        $x: 0;

        &:nth-of-type(#{$j}) .shape {
          @include rotate($x, $y, $z);
        }

      }

    }
  }
}

[data-axis='z'] {
  @for $i from 1 through 9 {
    $x: ($i - 1) * $angle;

    .scenes:nth-of-type(#{$i}) .scene {

      @for $j from 1 through 9 {
        $z: ($j - 1) * $angle;
        $y: 0;

        &:nth-of-type(#{$j}) .shape {
          @include rotate($x, $y, $z);
        }

      }

    }
  }
}


[data-axis='x'] {
  @for $i from 1 through 9 {
    $x: ($i - 1) * $angle;

    .scenes:nth-of-type(#{$i}) .scene {

      @for $j from 1 through 9 {
        $y: ($j - 1) * $angle;
        $z: 0;

        &:nth-of-type(#{$j}) .shape {
          @include rotate($x, $y, $z);
        }

      }

    }
  }
}

.face1 .face[data-index='1'],
.face2 .face[data-index='2'],
.face3 .face[data-index='3'],
.face4 .face[data-index='4'],
.face5 .face[data-index='5'],
.face6 .face[data-index='6'] {
  opacity: 0;
}
